{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block form %}
    <div class='purl-display-link' style='display: none'>
        PURL: <a target='_blank'></a>
        <br />
        <br />
        <br />
    </div>
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('css/fonts.css') }}" type="text/css" media="all" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/spodigebrochure/tiny_mce/tiny_mce.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script type="text/javascript">
    tinyMCE.init({
        mode: "textareas",
        theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,bullist,numlist,|,outdent,indent,|,fontsizeselect",
        theme_advanced_toolbar_location : "top",
        theme_advanced_toolbar_align : "left",
        theme_advanced_statusbar_location : "bottom",
        theme_advanced_resizing : false,
        width: "700",
        height: "440"
    });

    $(document).ready(function() {
        $("#{{ admin.uniqId }}_segment option").each(function() {
            if ($(this).text() == 'En'){
                $(this).text('Empty Nesters');
            }
        });

        $('#{{ admin.uniqId }}_offers').addClass('sortable');
        $('#{{ admin.uniqId }}_offers').children().addClass('offers-options');
        $('.sortable').sortable();

        $('#{{ admin.uniqId }}_tabs').children().addClass('tab-options');
    });

    // Help Text Changes on Segment Update
    $(function() {

        {% if ebconfig.hasFeature('offers') %}
        var offerContainer = $('#{{ admin.uniqId }}_offers');
        var offers = [];

        offerContainer.each(function() {
            $(this).find('li').each(function() {
                offers.push($(this).text());
            });
        });
        {% endif %}

        var slugContainer = $('#sonata-ba-field-container-{{ admin.uniqId }}_slug');

        if (!slugContainer.length) {
            return;
        }

        var helpTextElement = slugContainer.find('.sonata-ba-field-help');
        var helpText = helpTextElement.text();
        var segment  = $('#{{ admin.uniqId }}_segment');
        var slug     = $('#{{ admin.uniqId }}_slug');

        {# The maxTabs variables set the help text for selecting custom tabs. Uses config parameter select_tabs.max as a JSON array with values { default : <number>,(Optional: <segment> : <number>) } #}
        {% if  ebconfig.hasFeature('select_tabs') %}
        var maxTabs = $('#sonata-ba-field-container-{{ admin.uniqId }}_tab_group').find('.sonata-ba-field-help');
        var maxTabsBottom = $('#sonata-ba-field-container-{{ admin.uniqId }}_tabs').find('.sonata-ba-field-help');
        var maxTabsErrorElement = $('#{{ admin.uniqId }}_tab_segment');
        var maxTabsData = {{ ebconfig.getParameter('select_tabs.max')|json_encode()|raw }};
        var maxTabsText = maxTabs.text();
        var maxTabsBottomText = maxTabsBottom.text();

        if (maxTabsData[segment.val()]) {
            var maxTabsNew = maxTabsText.replace(/[0-9]+/, maxTabsData[segment.val()]);
            var maxTabsBottomNew = maxTabsBottomText.replace(/[0-9]+/, maxTabsData[segment.val()]);
        } else {
            var maxTabsNew = maxTabsText.replace(/[0-9]+/, maxTabsData['default']);
            var maxTabsBottomNew = maxTabsBottomText.replace(/[0-9]+/, maxTabsData['default']);
        }
        {% endif %}

        function updateSlugHelp() {
            var text;

            if (!window.location.origin) {
                window.location.origin = window.location.protocol+"//"+window.location.host;
            }

            {% if ebconfig.hasFeature('show_segments') %}
            text = helpText.replace('SEGMENT', window.location.origin+'/'+segment.val());
            {% else %}
            text = helpText.replace('SEGMENT', window.location.origin);
            {% endif %}

            if (slug.val()) {
                text = text.replace('[URL PART]', slug.val());
            }

            helpTextElement.text(text);

            {% if ebconfig.hasFeature('select_tabs') %}
            {% if ebconfig.hasFeature('multiple_segments') %}
            if (maxTabsData[segment.val()])
                maxTabsErrorElement.val(maxTabsData[segment.val()]);
            else
                maxTabsErrorElement.val(maxTabsData['default']);
            {% endif %}

            if (maxTabsData[segment.val()]) {
                maxTabsNew = maxTabsNew.replace(/[0-9]+/, maxTabsData[segment.val()]);
                maxTabsBottomNew = maxTabsBottomNew.replace(/[0-9]+/, maxTabsData[segment.val()]);
            }
            else {
                maxTabsNew = maxTabsNew.replace(/[0-9]+/, maxTabsData['default']);
                maxTabsBottomNew = maxTabsBottomNew.replace(/[0-9]+/, maxTabsData['default']);
            }
            maxTabs.text(maxTabsNew);
            maxTabsBottom.text(maxTabsBottomNew);
            {% endif %}
        }

        segment.change(updateSlugHelp);
        slug.change(updateSlugHelp);
        slug.keyup(updateSlugHelp);
        updateSlugHelp();
    });

    // Display PURL link at top if this is an edit
    $(function() {
        var text = $('#sonata-ba-field-container-{{ admin.uniqId }}_slug .sonata-ba-field-help').text();

        if (text.split('URL PART').length > 1) {
            return;
        }

        text = text.split(' ');
        text = text[text.length - 1];
        var pl = $('.purl-display-link');
        pl.show();
        pl.find('a').text(text).attr('href', text);
    });

    // First Tab Selector
    $(function() {
        var segment = $('#{{ admin.uniqId }}_segment');
        var firstTab = $('#{{ admin.uniqId }}_first_tab');
        var firstSegment = segment.val();
        var initialSelected = firstTab.val();

        function updateFirstTabOptions() {
            {% if ebconfig.hasFeature('select_tabs') %}
            var tabs = $('#{{ admin.uniqId }}_tabs');
            var selectedTabs = tabs.find('input:checked');
            var checked = tabs.find('input:checked').length;
            {% endif %}

            firstTab.empty();
            firstTab.attr('disabled', 'disabled');
            $.post(Routing.generate('SpodigEbrochureBundle_admin_tabs_for_segment', {'segment': segment.val()}),
                    { _sonata_admin: 'admin.customer' },
                    function(response) {
                        var tabs = eval('(' + response + ')');
                        {% if ebconfig.hasFeature('select_tabs') %}
                        for (var i=0; i < checked; i++) {
                            for (var x in tabs) {
                                if ((('{{ admin.uniqId }}_tabs_' + x) == (selectedTabs[i]['id']))) {
                                    firstTab.append($('<option>', { value: x }).text(tabs[x][1]));
                                }
                            }
                        }
                        {% else %}
                        for (var x in tabs) {
                            firstTab.append($('<option>', { value: x })
                                    .text(tabs[x][1]));
                        }
                        {% endif %}

                        if (firstSegment == segment.val()) {
                            firstTab.val(initialSelected);
                        }

                        firstTab.removeAttr('disabled');
                    });
        }

        if (!segment.length || !firstTab.length) {
            return;
        }
        $('#{{ admin.uniqId }}_tabs input').live('change', function() {
            updateFirstTabOptions();
        });
        segment.change(updateFirstTabOptions);
        updateFirstTabOptions();
    });

    // Tab and tab group selector
    $(function() {
        var tabs = $('#{{ admin.uniqId }}_tabs');

        if (!tabs.length) {
            return;
        }

        var customTitle = $('#sonata-ba-field-container-{{ admin.uniqId }}_custom_title');
        var customContent = $('#sonata-ba-field-container-{{ admin.uniqId }}_custom_content');
        var customSelected = false;
        var segment = $('#{{ admin.uniqId }}_segment');
        var groupsForCurrentSegment;
        var selectedTabs = tabs.find('input:checked');
        var customSelection = {};
        var customID;
        var customSelectAll = false;

        var customPictureTitle = $('#sonata-ba-field-container-{{ admin.uniqId }}_custom_picture_title');
        var customPictureFile = $('#sonata-ba-field-container-{{ admin.uniqId }}_custom_picture_file');
        var customPicture = $('#sonata-ba-field-container-{{ admin.uniqId }}_custom_picture');
        var customPictureSelected = false;
        var customPictureID;

        for (var x in tabs) {
            var text = tabs[x].span;
        }

        if (selectedTabs.length == 0) {
            customSelectAll = true;
        } else {
            selectedTabs.each(function() {
                customSelection[ this.id.split('_')[2] ] = '';
            });
        }

        function updateTabOptions() {
            tabs.empty();
            $.post(
                    Routing.generate(
                            'SpodigEbrochureBundle_admin_tabs_for_segment',
                            { 'segment': segment.val() }
                    ),
                    { _sonata_admin: 'admin.customer' },
                    function(response) {
                        var tabresult = eval('(' + response + ')');
                        for (var x in tabresult) {
                            tabs.append($(
                                    '<li>\
                                        <label for="{{ admin.uniqId }}_tabs_' + tabresult[x][2] + '">\
                                        <input type="checkbox" id="{{ admin.uniqId }}_tabs_' + tabresult[x][2] + '"\
                                            name="{{ admin.uniqId }}[tabs][' + tabresult[x][2] + ']" value="' + tabresult[x][2] + '" class="' + tabresult[x][1] + '"/>\
                                        <span>\
                                            ' + tabresult[x][1] + '\
                                        </span>\
                                    </label>\
                                </li>'
                            ));

                            if (tabresult[x][0] == 'custom') {
                                customID = tabresult[x][2];
                            }

                            if (tabresult[x][0] == 'custompicture') {
                                customPictureID = x;
                            }
                        }

                        var allChecked = $('#{{ admin.uniqId }}_tabs input:checked');
                        var maxTabsData = {{ ebconfig.getParameter('select_tabs.max')|json_encode()|raw }};

                        var sinTabs = $('#{{ admin.uniqId }}_tabs input');
                        sinTabs.removeAttr('checked');

                        if (maxTabsData[segment.val()]) {
                            if (allChecked.length < maxTabsData[segment.val()]) {
                                for (i = 0; i<maxTabsData[segment.val()]; i++) {
                                    $(sinTabs[i]).attr('checked', 'checked');
                                }
                            }
                        } else {
                            if (allChecked.length < maxTabsData['default']) {
                                for (i = 0; i<maxTabsData['default']; i++) {
                                    $(sinTabs[i]).attr('checked', 'checked');
                                }
                            }
                        }
//                        $('#{{ admin.uniqId }}_tabs input:not(:checked)').attr('disabled', true);

                        // After the dodgy black magick above, let's restore the user's checked items
                        $('input:checked').removeAttr('checked');

                        $.each(selectedTabs, function(index, value) {
                            $('#' + value.id).attr('checked', 'checked');
                        });
                        // Success! Checked tabs restored. Remember kids, black magick is bad.
                    }
            );
        }

        function updateCustomOptions(){
            if ($('#{{ admin.uniqId }}_tabs_'+customID).is(':checked')) {
                customTitle.show('fast');
                customContent.show('fast');
            } else if ($('#{{ admin.uniqId }}_tabs_'+customID).is(':not(:checked)')) {
                customTitle.hide();
                customContent.hide();
            }

            if (!$('#{{ admin.uniqId }}_custom_title').val()) {
                $('#{{ admin.uniqId }}_custom_title').val('Custom Tab Title');
            }

            if ($('#{{ admin.uniqId }}_tabs_'+customPictureID).is(':checked')) {
                customPictureTitle.show('fast');
                customPicture.show('fast');
                customPictureFile.show('fast');
            } else if ($('#{{ admin.uniqId }}_tabs_'+customPictureID).is(':not(:checked)')) {
                customPictureTitle.hide();
                customPicture.hide();
                customPictureFile.hide();
            }

            if (!$('#{{ admin.uniqId }}_custom_title').val()) {
                $('#{{ admin.uniqId }}_custom_title').val('Custom Tab Title');
            }
            if (!$('#{{ admin.uniqId }}_custom_picture_title').val()) {
                $('#{{ admin.uniqId }}_custom_picture_title').val('Custom Picture Tab Title');
            }
        };

        $('#{{ admin.uniqId }}_tabs input').live('change', function() {
            updateCustomOptions();
            var allTabs = $('#{{ admin.uniqId }}_tabs input');
            if (!$(this).attr('checked')) {
                allTabs.removeAttr('disabled');
                return;
            }

            var allChecked = $('#{{ admin.uniqId }}_tabs input:checked');
            var notChecked = $('#{{ admin.uniqId }}_tabs input:not(:checked)');

            {% if ebconfig.hasFeature('select_tabs') %}
            var maxTabsData = {{ ebconfig.getParameter('select_tabs.max')|json_encode()|raw }};

            if (maxTabsData[segment.val()]) {
                if (allChecked.length < maxTabsData[segment.val()]) {
                    allTabs.removeAttr('disabled');
                    return;
                }
            }
            else {
                if (allChecked.length < maxTabsData['default']) {
                    allTabs.removeAttr('disabled');
                    return;
                }
            }
            {% endif %}

            notChecked.attr('disabled', 'disabled');
        });

        segment.change(updateTabOptions);
        updateTabOptions();
        customTitle.hide();
        customContent.hide();
        customPictureFile.hide();
        customPicture.hide();
        customPictureTitle.hide();
    });

    // Detect and display custom logo
    $(function() {
        var location = window.location.pathname;
        var photoField = $('#sonata-ba-field-container-{{ admin.uniqId }}_logo');
        var photoLink = $('#{{ admin.uniqId }}_logo');
        photoLink.hide();

        var pictureField = $('#sonata-ba-field-container-{{ admin.uniqId }}_custom_picture');
        var pictureLink  = $('#{{ admin.uniqId }}_custom_picture');
        pictureLink.hide();

        var userId = location.substr(location.indexOf("customer") + 8 );
        var userId = userId.replace("/edit","");
        userId = userId.replace("spodig/ebrochure/business","");

        if (photoLink.val()) {
            var photo = '/images/custom_logos/'+userId+'/'+photoLink.val();
            var photoImg = '<img class="rep-photo" src="'+photo+'" />';
            photoField.append(photoImg);
        }
        else {
            photoField.append('<div class="rep-photo">No photo uploaded</div>');
        }

        if (pictureLink.val()) {
            var picture = '/images/custom_tab_pictures/' + pictureLink.val();
            pictureField.append('<img class="rep-photo" style="height: 409px" src="' + picture + '" />');
        } else {
            pictureField.append('<p class="rep-photo">No photo uploaded</p>');
        }
    });

    $(function() {
        setTimeout(function() { $('#{{ admin.uniqId }}_tabs input:checked').eq(0).trigger('change') }, 1500);
    });
    </script>
{% endblock %}
