{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        // Detect and display custom logo
        $(function() {
            var userId = {{ app.user.id }};
            var photoField = $('#sonata-ba-field-container-{{ admin.uniqId }}_photo');
            var photoLink = $('#{{ admin.uniqId }}_photo');
            photoLink.hide();
    
            if (photoLink.val()) {
                var photo = '/images/rep_photos/'+userId+'/'+photoLink.val();
                var photoImg = '<img class="rep-photo" src="'+photo+'" />';
                photoField.append(photoImg);
            }
            else {
                photoField.append('<p class="rep-photo">No photo uploaded</p>');
            }
        });
    </script>
{% endblock %}