{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
            {{ parent() }}
            <link rel="stylesheet" href="{{ asset('css/admin.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('css/fonts.css') }}" type="text/css" media="all" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script type="text/javascript">

        $(document).ready(function() {
            {% if app.user.id is defined %}

                {% if ebconfig.hasFeature('hide_foreign_purls') %}
                    {% if app.user.hasRole('ROLE_ADMIN') %}
                        var userAdmin = true;
                    {% else %}
                        var userAdmin = false;
                    {% endif %}

                    if (userAdmin == true) {
                    } else {
                        $('#filter_sales_rep_type').parent().hide();
                    }

                    $('#filter_sales_rep_value').children().first().text('View All');
                {% endif %}

                $('#exportSame').click(function() {
                    window.location.href='/export/renewals/same?id='+$('#sameId').val();
                });

                $('#exportNew').click(function() {
                    window.location.href='/export/renewals/new?id='+$('#newId').val();
                });
            {% endif %}

        //If user is logged in, adds "Edit My Profile" link to the top-right of the header bar.
            {% if app.user.id is defined %}
                var location = window.location.pathname;
                var userId = {{ app.user.id }};

                {% if app.user.hasRole('ROLE_ADMIN') or app.user.hasRole('ROLE_SUPER_ADMIN') %}
                    $('.navbar-inner .container-fluid').append('<a class="users-link" href="/admin/spodig/ebrochure/user/list">View/Edit Users</a>');
                {% endif %}

                {% if ebconfig.hasFeature('edit_profile') %}
                    $('.navbar-inner .container-fluid').append('<a class="profile-link" href="javascript:void(0)">Edit My Profile</a>');

                    $('.profile-link').click(function(){
                        window.location.href='/admin/spodig/ebrochure/user/'+userId+'/edit';
                    });
                {% endif %}

                if ((location.indexOf("user") >= 0) && (location.indexOf("edit") >= 0)) {
                    var urlId = location.substr(location.indexOf("user") + 5 );
                    urlId = urlId.replace("/edit","");
                    if (userId != urlId) {
                        {% if app.user.hasRole('ROLE_ADMIN') or app.user.hasRole('ROLE_SUPER_ADMIN') %}
                        {% else %}
                            document.title = ('Access Denied');
                            $('body').html('');
                            alert('Access Denied');
                            window.location.href='/admin/spodig/ebrochure/user/'+userId+'/edit';
                        {% endif %}
                    }
                }
            {% endif %}
        });
    </script>
{% endblock %}

{% block footer %}
{% endblock %}
