{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    {% if value is not null %}
        <img src="/{{ object.getWebPath }}" class="logo-preview" />
    {% endif %}
{% endblock %}
