{% extends 'SpodigEbrochureBundle:Admin:layout.html.twig' %}

{% block title %}
Your Personalized URLs
{% endblock %}

{% block content %}
    <p><strong>With Default Offers</strong></p>
    <ul>
        {% for segment in ebconfig.getSegmentNames %}
        <li><a target='_blank' href='{{ url('SpodigEbrochureBundle_rep', { 'segment': segment, 'rep': app.user.slug } ) }}'>
            {{ url('SpodigEbrochureBundle_rep', { 'segment': segment, 'rep': app.user.slug } ) }}
        </a></li>
        {% endfor %}
    </ul>
    {% if offers %}
    <p><strong>With Targeted Offers</strong></p>
    <ul>
        {% for segment in ebconfig.getSegmentNames %}
            {% if offers[segment] is defined %}
                {% for offer in offers[segment] %}
                    <li><a target='_blank' href='{{ url('SpodigEbrochureBundle_offer', { 'segment': segment, 'rep': app.user.slug, 'offer': offer.slug } ) }}'>
                        {{ url('SpodigEbrochureBundle_offer', { 'segment': segment, 'rep': app.user.slug, 'offer': offer.slug } ) }}
                    </a></li>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
