{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if ebconfig.hasFeature('show_segments') %}
        <a href='{{ path('SpodigEbrochureBundle_segment', { 'segment': object.segment, 'purl': object.slug}) }}' target='_blank'>
            {{ url('SpodigEbrochureBundle_segment', { 'segment': object.segment, 'purl': object.slug}) }}
        </a>
    {% else %}
        <a href='{{ path('SpodigEbrochureBundle_purl', { 'purl': object.slug}) }}' target='_blank'>
            {{ url('SpodigEbrochureBundle_purl', { 'purl': object.slug}) }}
        </a>
    {% endif %}
{% endblock %}
