{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field%}
    {% if value is not null %}
        <img src="/{{ object.getWebPath }}" class="logo-preview" />
    {% else %}
        &nbsp;
    {% endif %}
{% endblock %}