{% if tabs|length > 1 %}



    {% for tab in tabs %}

        {% if tab.getShortName() == 'welcome' %}
            <div class="nav-item nav-4 tab-welcome"><span class="single">Welcome</span></div>
        {% endif %}

        {% if tab.getShortName() == 'memcard' %}
            <div class="nav-item nav-2 tab-group"><span class="double longnav">Membership Card Tutorial</span></div>
        {% endif %}

        {% if tab.getShortName() == 'gold' %}
            <div class="nav-item nav-2 tab-group"><span class="double longnav">Gold Level <br />Memberships</span></div>
        {% endif %}

        {% if tab.getShortName() == 'premier' %}
            <div class="nav-item nav-4 tab-welcome"><span class="single">Premier Seating</span></div>
        {% endif %}

        {% if tab.getShortName() == 'corpout' %}
            <div class="nav-item nav-2 tab-group"><span class="single">Corporate Outings</span></div>
        {% endif %}

        {% if tab.getShortName() == 'group' %}
            <div class="nav-item nav-2 tab-group"><span class="single">Group Tickets</span></div>
        {% endif %}

        {% if tab.getShortName() == 'corphosp' %}
            <div class="nav-item nav-2 tab-group"><span class="double longnav">Corporate <br />Hospitality</span></div>
        {% endif %}

        {% if tab.getShortName() == 'groupex' %}
            <div class="nav-item nav-2 tab-group"><span class="single">Group Experiences</span></div>
        {% endif %}


        {% if tab.getShortName() == 'custom' %}
            <div class="nav-item nav-2 tab-group"><span class="double longnav">{{ customer.getCustomTitle() }}</span></div>
        {% endif %}

    {% endfor %}



{% else %}
{% endif %}
