{% if rep is defined %}
    {% set moreinfo = "mailto:" ~ rep.getEmail() %}
{% else %}
    {% set moreinfo = "" %}
{% endif %}

<div class="popup-contain">

    <div class="popup popup-contact">
        <div class="contact-inner">
            {% if customer is defined %}
                <!--<div class="rep-photo"><p><img src="../images/rep_photos/{{ rep.getId()}}/{{ rep.getPhoto() }}"/></p></div>-->
                <div class="header">{{ rep.getName() }}</div>
                <a href="mailto:{{ rep.getEmail() }}" target="_blank">
                    <div class="link">{{ rep.getEmail() }}</div>
                </a>
                <div class="phone">{{ rep.getPhoneNumber() }}</div>
            {% else %}
                <h1>CONTACT US</h1>
                <a href="http://www.ColumbusCrewSC.com/tickets" target="_blank">
                    <div class="link">www.ColumbusCrewSC.com/tickets</div>
                </a>
                <div class="phone">614-447-2739</div>
            {% endif %}
        </div>
        <div class="close-x close-pop">close X</div>
    </div>

    <div class="popup popup-profile">
        <div>
            <div class="profile-name"><u>Name</u> : Profile Name</div>
            <div class="profile-id"><u>Account ID</u> : Account ID</div>
            <div class="profile-tenure"><u>Tenure</u> : Tenure</div>
            <div class="profile-seat"><u>Seat Location</u> : Seat Location</div>
            <div class="profile-rep_name">Rep Name</div>
            <div class="profile-rep_email">Rep Email</div>
            <div class="profile-rep_phone">Rep Phone</div>
            <img src="{{ asset('images/slides/club/profile.png') }}">
        </div>
        <div class="close-x close-pop">close X</div>
    </div>

    <div class="popup see-benefits-pop">
        <div>
            <img src="images/popups/part-benefits.png">
        </div>
        <div class="close-x close-pop">close X</div>
    </div>
    <div class="popup seastick-pop">
        <div>
            <img src="images/popups/2014-tickets-pop.jpg">
        </div>
        <div class="close-x close-pop">close X</div>
    </div>

    <div class="popup half-season-pop">
        <div>
            <img src="images/popups/half-season.jpg" class="half-season-info">
        </div>
        <div class="close-x close-pop" style="position: absolute; top: -200px; right: -210px;">close X</div>
    </div>

    <div class="popup seating-map">
        <div>
            <img src="images/popups/crew-seating-pop.jpg" class="crew-seating-pop">
        </div>
        <div class="close-x close-pop">close X</div>
    </div>

    <div class="popup ten-game-pop">
        <div>
            <img src="images/popups/ten-game.jpg" class="ten-game-info">
        </div>
        <div class="close-x close-pop" style="position: absolute; top: -200px; right: -210px;">close X</div>
    </div>

    <div class="popup pay-play-pop">
        <div>
            <a href="javascript:void(0);" class="renew-now haspop" data-popup="popup-profile"></a>
            <a href="http://wild.nhl.com/club/page.htm?id=83151" target="_blank" class="faq"></a>
            <img src="images/popups/payasweplay.gif">
        </div>
        <div class="close-x close-pop">close X</div>
    </div>

    <div class="popup on-field-pop">
        <div>
                <img src="images/popups/season_9a-p.jpg">
        </div>
        <div class="close-x close-pop">close X</div>
    </div>

    <div class="popup hs-pop">
        <div>
            <a href="http://www.thecrew.com/highschool" target="blank">
                <img src="images/popups/season_9c-p.jpg">
            </a>
        </div>
        <div class="close-x close-pop">close X</div>
    </div>

    <div class="popup group-pop">
        <div>
            <a href="http://www.thecrew.com/tickets/group-tickets" target="_blank">
                <img src="images/popups/season_3a-p.jpg">
            </a>
        </div>
        <div class="close-x close-pop">close X</div>
    </div>

    <div class="popup play-only-pop">
        <div>
            <a href="javascript:void(0);" class="renew-now haspop" data-popup="popup-profile"></a>
            <a href="http://wild.nhl.com/club/page.htm?id=83151" target="_blank" class="faq"></a>
            <img src="images/popups/playoffsonly.gif">
        </div>
        <div class="close-x close-pop">close X</div>
    </div>

    <div class="popup message-pop">
        <div>
            <div class="jwplayer" id="mccullers"></div>
        </div>
        <div class="close-x close-pop">close X</div>
    </div>
{#}
    <div class="popup invoice-pop">
        <div>
            <div class="invoice">
                {% if customer is defined %}
                    <div class="account-number">{{ customer.getAccountId() }}</div>
                    <table>
                        {% for plan in plans %}
                        <tr>
                            <td class="description">{{ plan.getPlanCode() }}</td>
                            <td class="section">{{ plan.getSection() }}</td>
                            <td class="row">{{ plan.getRow() }}</td>
                            <td class="seats">{{ plan.getSeats() }}</td>
                            <td class="quantity">{{ customer.getPc() }}</td>
                            <td class="matches"></td>
                            <td class="subtotal">${{ plan.getTotal() }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <div class="total-cost">${{ totalBalance }}</div>
                    <div class="total-balance">${{ totalBalance }}</div>
                {% endif %}
                <a href="https://oss.ticketmaster.com/html/home.htmI?l=EN&team=crew" class="invoice-renew" target="_blank"></a>
            </div>
        </div>
        <div class="close-x-invoice close-pop">close X</div>
    </div>
#}
    <div class="popup-catch"></div>

</div>
