{% if tabs|length > 1 %}
    {% set checkChoose = false %}
    {% for tab in tabs %}
        {% if tab.getShortName() == 'welcome' %}
            <div class="slides slides-4">
                <!--<div class="slide-item full-benefits">
                    <div class="jwplayer" id="intro"></div>
                </div>-->
                <div class="slide-item ">
                    <div class="jwplayer" id="intro" ></div>
                </div>
            </div>
        {% endif %}

        <!-- *********** MEMBERSHIP CARD TUTORIAL  *********** -->
        {% if tab.getShortName() == 'memcard' %}
            <div class="slides">

                <div class="slide-item a-memcard-1">
                    <div class="jwplayer" id="ticketcardtutorialvideo" ></div>
                </div>
                
            </div>
        {% endif %}

        <!-- *********** Gold Level Membership  *********** -->
        {% if tab.getShortName() == 'gold' %}
            <div class="slides">
                <div class="slide-item s-gold">
                    <div class="gold-btn-cont">
                        <a href="/pdf/ColumbusCrewSC_STM15.pdf" target="_blank"><div class="slidebtn"><p style="margin-top:5px;">2015 GOLD LEVEL MEMBERSHIPS</p></div></a>
                    </div>
                </div>
            </div>
        {% endif %}

        <!-- *********** Premier Seating  *********** -->
        {% if tab.getShortName() == 'premier' %}
            <div class="slides">
                <div class="slide-item">
                    <img src="{{ asset('images/slides/acquisition/new/a-premierseating-1.jpg') }}">
                    <div class="premier-btn-cont">
                        <a href="javascript:void(0);" class="premier-1"><div class="slidebtn "><p>PREMIER EAST</p></div></a>
                        <a href="javascript:void(0);" class="premier-2"><div class="slidebtn "><p>CENTER CIRCLE CLUB</p></div></a>
                        <a href="javascript:void(0);" class="premier-3"><div class="slidebtn "><p>SCOTTS FIELD SEATS</p></div></a>
                        <a href="javascript:void(0);" class="premier-4"><div class="slidebtn "><p>SUITE LEASES</p></div></a>
                    </div>
                </div>
                <div class="slide-item">
                    <img src="{{ asset('images/slides/acquisition/new/a-premierseating-2.jpg') }}">
                </div>
                <div class="slide-item">
                    <img src="{{ asset('images/slides/acquisition/new/a-premierseating-3.jpg') }}">
                </div>
                <div class="slide-item">
                    <img src="{{ asset('images/slides/acquisition/new/a-premierseating-4.jpg') }}">
                </div>
                <div class="slide-item">
                    <img src="{{ asset('images/slides/acquisition/new/a-premierseating-5.jpg') }}">
                </div>
            </div>
        {% endif %}

        <!-- *********** Corporate Outings  *********** -->
        {% if tab.getShortName() == 'corpout' %}
            <div class="slides">
                <div class="slide-item">
                    <img src="{{ asset('images/slides/acquisition/new/a-corporateoutings-1.jpg') }}">
                    <div class="corpout-btn-cont">
                        <a href="javascript:void(0);" class="corpout-vil"><div class="slidebtn"><p>CORPORATE VILLAGE</p></div></a>
                        <a href="javascript:void(0);" class="corpout-stad"><div class="slidebtn"><p>STADIUM CLUB</p></div></a>
                        <a href="javascript:void(0);" class="corpout-fiel"><div class="slidebtn"><p>FIELD LEVEL PARTY PAVILION</p></div></a>
                    </div>
                </div>
                <div class="slide-item">
                    <img src="{{ asset('images/slides/acquisition/new/a-corporateoutings-2.jpg') }}">
                </div>
                <div class="slide-item">
                    <img src="{{ asset('images/slides/acquisition/new/a-corporateoutings-3.jpg') }}">
                </div>
                <div class="slide-item">
                    <img src="{{ asset('images/slides/acquisition/new/a-corporateoutings-4.jpg') }}">
                </div>
            </div>
        {% endif %}

        <!-- *********** Group Tickets  *********** -->
        {% if tab.getShortName() == 'group' %}
            <div class="slides">
                <div class="slide-item s-group">
                    <div class="group-btn-cont">
                        <!--<a href="https://oss.ticketmaster.com/aps/crew/EN/link/buy/details/14fs18?camefrom=sportsdigita" target="_blank">--><div class="slidebtn"><p>2015 GROUP TICKETS</p></div><!--</a>-->
                    </div>
                </div>
            </div>
        {% endif %}

        <!-- *********** Corporate Hospitality  *********** -->
        {% if tab.getShortName() == 'corphosp' %}
            <div class="slides slides-corp">
                <div class="slide-item">
                    <img src="{{ asset('images/slides/acquisition/new/a-corporatehospitality-1-new.jpg') }}">
                    <div class="corp-btn-cont">
                        <a href="javascript:void(0);" class="corp1"><div class="slidebtn corp-vip"><p>VIP TERRACE</p></div></a>
                        <a href="javascript:void(0);" class="corp2"><div class="slidebtn corp-party"><p>HEINEKEN STAR LOUNGE</p></div></a> <!-- uppper 90 club -->
                        <a href="javascript:void(0);" class="corp3"><div class="slidebtn corp-party"><p>MATCH DAY SUITES</p></div></a>
                        <a href="javascript:void(0);" class="corp4"><div class="slidebtn corp-party"><p>PARTY SUITES</p></div></a>
                    </div>
                </div>
                <div class="slide-item">
                    <img src="{{ asset('images/slides/acquisition/new/a-corporatehospitality-2.jpg') }}">
                </div>
                <div class="slide-item">
                    <img src="{{ asset('images/slides/acquisition/new/a-corporatehospitality-3.jpg') }}">
                </div>
                <div class="slide-item">
                    <img src="{{ asset('images/slides/acquisition/new/a-corporatehospitality-4.jpg') }}">
                </div>
                <div class="slide-item">
                    <img src="{{ asset('images/slides/acquisition/new/a-corporatehospitality-5.jpg') }}">
                </div>
                <div class="slide-item">
                    <img src="{{ asset('images/slides/acquisition/new/a-corporatehospitality-6.jpg') }}">
                </div>
                <div class="slide-item">
                    <img src="{{ asset('images/slides/acquisition/new/a-corporatehospitality-7.jpg') }}">
                </div>
                <div class="slide-item">
                    <img src="{{ asset('images/slides/acquisition/new/a-corporatehospitality-8.jpg') }}">
                </div>
            </div>
        {% endif %}

        <!-- *********** Group Experiences  *********** -->
        {% if tab.getShortName() == 'groupex' %}
            <div class="slides">
                <div class="slide-item s-groupexp">
                    <div class="groupex-btn-cont">
                        <!-- <a href="https://oss.ticketmaster.com/aps/crew/EN/link/buy/details/14fs18?camefrom=sportsdigita" target="_blank">--><div class="slidebtn"><p>ON-FIELD EXPERIENCES</p></div><!--</a>-->
                        <!-- <a href="https://oss.ticketmaster.com/aps/crew/EN/link/buy/details/14fs18?camefrom=sportsdigita" target="_blank">--><div class="slidebtn"><p>HIGH SCHOOL PROGRAMS</p></div><!--</a>-->
                    </div>
                </div>
            </div>
        {% endif %}

        {% if tab.getShortName() == 'custom' %}
        <div class="slides slides-8">
            <div class="slide-item">
                <div class="custom-content">
                    <div class="big-text">Presented to: <br />
                        {% if customer is defined %} 
                             {{ customer.getName() }}
                        {% else %}
                            Loyal Customer
                        {% endif %}<br />
                    </div>
                    <div class="custom-content-container">
                        {{ customer.getCustomContent()|raw }}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
{% else %}

    <!--<div class="slides slides-4">
        <div class="slide-item full-benefits">
            <div class="jwplayer" id="intro"></div>
        </div>
    </div>

    <div class="slides">
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_2a.jpg') }}">
            <a href="{{ asset('pdf/letter.pdf')}}" class="letter" target="_blank"></a>
        </div>
    </div>

    <div class="slides slides-2">
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_3a.jpg') }}">
        </div>
    </div>

    <div class="slides slides-3">
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_4a.jpg') }}">
            <a href="javascript:void(0);" class="suites"></a>
            <a href="javascript:void(0);" class="scotts-field"></a>
            <a href="javascript:void(0);" class="center-circle"></a>
            <a href="javascript:void(0);" class="premier-east"></a>
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_4b.jpg') }}">
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_4c.jpg') }}">
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_4d.jpg') }}">
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_4e.jpg') }}">
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_4f.jpg') }}">
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_4g.jpg') }}">
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_4h.jpg') }}">
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_4i.jpg') }}">
        </div>
    </div>

    <div class="slides slides-5">
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_5a.jpg') }}">
        </div>
    </div>

    <div class="slides slides-6">
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_5a.jpg') }}">
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_5b.jpg') }}">
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_5c.jpg') }}">
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_5d.jpg') }}">
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_5e.jpg') }}">
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_5f.jpg') }}">
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_5g.jpg') }}">
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_5h.jpg') }}">
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_5i.jpg') }}">
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_5j.jpg') }}">
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_5k.jpg') }}">
        </div>
    </div>-->



{% endif %}
