{% extends 'SpodigEbrochureBundle:Admin:layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<style type='text/css'>
    html .sonata-bc .topbar-inner {
        background-color: #bf3037;
        background-image: none
    }
</style>
{% endblock %}
