<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block title %} Admin{% endblock %}</title>

    {% block css %}
    {% block js %}
    {% endblock %}
</head>
<body>
    <div id="wrapper">
        
        {% block body %}
        
        {% endblock %}

    </div> <!-- end of wrapper -->

</body>
</html>
