<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Join the Crew</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=1100, user-scalable=yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?this=that">
    <link rel="stylesheet" href="{{ asset('css/reset.css') }}" type="text/css" media="screen" title="" charset="utf-8">
    <link rel="stylesheet" href="{{ asset('css/main.css?1') }}" type="text/css" media="screen" title="" charset="utf-8">
    <link rel="stylesheet" href="{{ asset('css/fonts.css?1') }}" type="text/css" media="screen" title="" charset="utf-8">

    <script src="{{ asset('js/libs/jquery-1.7.1.min.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('js/script.js?1') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('js/swfobject.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('jwplayer/jwplayer.js') }}" type="text/javascript" charset="utf-8"></script>


    <script>
         {% if segment == 'renew' %}
             (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
             })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

             ga('create', 'UA-43818024-3', 'auto');
             ga('send', 'pageview');
         {% else %}
             (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
             })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

             ga('create', 'UA-43818024-2', 'auto');
             ga('send', 'pageview');
         {% endif %}
     </script>

    <script src="{{ asset('js/tracking.js') }}" type="text/javascript" charset="utf-8"></script>

    {% if customer is defined and customer.getFirstTab %}
    <script type="text/javascript">
        window.firstTab = "{{ customer.getFirstTab.getShortName }}";
    </script>
    {% endif %}

    <!--[if gte IE 9]>
      <style type="text/css">
        .gradient {
           filter: none;
        }
      </style>
    <![endif]-->
</head>
<body id="{{ segment }}" class="test">

    <!--<div class="bgimg"></div>-->

    <!--<div class="bgleft"></div>
        <div class="bgright"></div>-->




    <div id="wrapper">
        <div id="wrapperouter"></div>

        <div id="wrapperinner">
            <div id="header">


                <div class="altbar"></div>
                    <!--<a href ="https://oss.ticketmaster.com/aps/crew/EN/link/buy/details/14fs18?camefrom=sportsdigita" class="renew-now" target="_blank"></a>-->
                    <div class="custom-logo-hd">
                        <div class="custom-hd">
                            {% if customer is defined %}
                            Presented To:<br />
                                 {{ customer.getName() }}
                            {% endif %}
                        </div>
                            {% if customer.getLogo is defined and customer.getLogo|length%}
                                <img src="{{ asset('/images/custom_logos/' ~ customer.id ~ '/' ~ customer.getLogo) }}" class="custom-logo-sm" alt="" >
                            {% else %}
                                {% if customer is defined %}
                                    <img src="{{ asset('/images/body/crew-logo.png') }}" style="max-height: 110px; padding-top: 10px;"  >
                                {% else %}
                                    <img src="{{ asset('/images/body/crew-logo.png') }}"  >
                                {% endif %}
                            {% endif %}
                    </div>
                    <div class="altbar-copy">
                        <p class="altbar-copy-top">A NEW CREW.</p>
                        <p class="altbar-copy-bottom">FOR COLUMBUS.</p>
                    </div>

                    {% if segment == 'renew' %}
                        <!--<div class="countdown">
                            <div class="days">-263</div>
                            <div class="hours">16</div>
                            <div class="minutes">04</div>
                            <div class="seconds">03</div>
                        </div>-->
                        <div class="countdown-title">
                            <!--<p>Extension Countdown</p>-->
                            {% if customer is defined %}
                                <p><a href="javascript:void(0);" class="haspop" data-popup="invoice-pop" class="invbtn">View My Invoice</a></p>
                            {% endif %}
                        </div>
                    {% else %}
                        <!--<div class="countdown2">
                            <div class="days">-263</div>
                            <div class="hours">16</div>
                            <div class="minutes">04</div>
                            <div class="seconds">03</div>
                        </div>
                        <div class="countdown-title">
                            <p>Membership Savings Countdown</p>
                        </div>-->

                    {% endif %}
            </div>

            <div class="main">

                {% if tabs|length > 6 %}
                    <a href="javascript:void(0)" id="navscrollbtnup" ><div class="nav-item-up">&nbsp;</div></a>
                {% endif %}

                <div id="nav">
                    <div class="killscroll">
                         {% include '::' ~ segment ~ '_navigation.html.twig' %}
                    </div>
                </div>

                {% if tabs|length > 6 %}
                    <a href="javascript:void(0)" id="navscrollbtn" ><div class="nav-item-down">&nbsp;</div></a>
                {% endif %}

                <div id="content">
                    <div id="slide-contain">
                        <div class="next-arrow"></div>
                        <div class="prev-arrow"></div>
                        <div class="slider">
                            {% include '::' ~ segment ~ '_content.html.twig' %}
                        </div>
                        <div class="slider-nav"></div>
                    </div>

                    <!--<div id="personalize-jersey-contain">
                        <a id="personalize-jersey-link"></a>
                        <a id="stitch-jersey-link"></a>
                        <input type="text" id="personal-name" value="Enter Your Last Name" maxlength="17"/>
                        <input type="text" id="personal-number" value="Enter A Jersey Number" maxlength="2"/>
                        <div id="personalize-jersey"></div>
                    </div>-->

                    <div class="personal-catch"></div>

                    <div class="personal-frame">

                        <div class="error"></div>

                        <div class="personal-target">
                            <img id="person-img" src=""/>
                        </div>

                        <div class="personal-share">
                            <div class="personal-share-link"></div>
                            <div class="jersey-submit-share" id="personal-btn-share"></div>
                            <input type="text" id="personal-name-share" value="Enter Their Last Name" maxlength="17"/>
                            <input type="text" id="personal-number-share" value="Enter A Jersey Number" maxlength="2"/>
                        </div>

                    <a href="" target="_blank" id="email-share"><div class="personal-email"></div></a>
                    <a href="" target="_blank" id="fb-share"><div class="personal-fb"></div></a>
                    <a href="" target="_blank" id="twt-share"><div class="personal-twit"></div></a>
                        <div class="personal-social"></div>
                        <div class="personal-download"></div>
                        <div class="personal-close">Close X</div>
                    </div>
                </div>


                <a href="javascript:void(0);" class="haspop" data-popup="popup-contact"><div class="contact-rep"><p>CONTACT REP</p></div></a>

                <div id="lower-content">
                    <div id="button-contain-lower">

                            {% if segment == 'renew' %}
                                <a href="https://oss.ticketmaster.com/html/home.htmI?l=EN&team=crew" target="_blank"><div class="lower-button-renew-2"></div></a>
                            {% else %}
                                <a href="/pdf/ColumbusCrewSC_STM15.pdf" target="_blank"><div class="lower-button-renew"></div></a>
                            {% endif %}

                        {% if segment == 'renew' %}
                            <div class="lower-button-benefits-2">
                                <a href="http://www.thecrew.com/membership/benefits" target="_blank"></a>
                            </div>
                        {% else %}
                            <div class="lower-button-benefits">
                                <a href="http://www.thecrew.com/membership/benefits" target="_blank"></a>
                                <a href="/pdf/2015_Crew_SC_Home_Schedule.pdf" target="_blank"></a> <!-- uncommented and changed image -->
                            </div>
                        {% endif %}
                        <a href="http://seatviewer.thecrew.com/" target="_blank" class="seastick">
                            <div class="lower-button-map"></div>
                        </a>
                    </div>
                </div>

                <div class="share">
                    <a href="https://www.facebook.com/columbuscrew" target="_blank">
                        <div class="facebook"></div>
                    </a>
                    <a href="https://twitter.com/columbuscrew" target="_blank">
                        <div class="twitter"></div>
                    </a>
                    <a href="http://instagram.com/columbuscrew" target="_blank">
                        <div class="instagram"></div>
                    </a>
                    <a href="https://plus.google.com/+columbuscrew/posts" target="_blank">
                        <div class="gplus"></div>
                    </a>
                    <a href="https://www.youtube.com/user/CrewCommunications" target="_blank">
                        <div class="youtube"></div>
                    </a>
                </div>

            </div>

            {% include '::' ~ segment ~ '_popups.html.twig' %}
        </div>
    </div>
</body>
</html>

