<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Your Minnesota Wild Invoice</title>
    <meta name="description" content="">

    <link rel="stylesheet" href="{{ asset('css/invoice.css') }}">

</head>
<body>
    {% set total = (15 + customer.getTotal - customer.getPc) %}
    {% set three = total/3 %}
    {% set eight = total/8 %}
    {% set phone = customer.getPhone|split('|') %}

    <div id="main">
        <a href="/{{ customer.getSlug }}#"><div id="close-button"></div></a>
        <a href="/invoice/{{ customer.getSlug }}.pdf"><div id="print-button"></div></a>

        {% if customer.getSegment == 'club' %}
            <img src="{{ asset('images/invoice/invoice-club.jpg') }}" id="invoice-bg"/>
        {% else %}
            <img src="{{ asset('images/invoice/invoice.jpg') }}" id="invoice-bg"/>
        {% endif %}

        <div id="customer-info">
            <div class="item" id="customer-info">
                {{ customer.getFirstName }}
                {% if customer.getLastName is not null and customer.getLastName != '' %}
                    &amp; {{ customer.getLastName }}
                {% endif %}<br>
                Account #: {{ customer.getSlug }}<br>
            </div>
        </div>

        <table id="item-info">
            <tbody>
                {% for plan in plans %}
                <tr>
                    <td class="item" id="plan-type">{{ customer.getMembershipLevel|evaluate|raw }}</td>
                    <td class="item" id="section">{{ plan.getSection|evaluate|raw }}</td>
                    <td class="item" id="row">{{ plan.getRow|evaluate|raw }}</td>
                    <td class="item" id="seats">{{ plan.getSeats|evaluate|raw }}</td>
                    <td class="item" id="num-seats">{{ plan.getNumSeats|evaluate|raw }}</td>
                    <td class="item" id="price-per-seat">${{ plan.getPricePerSeat|evaluate|raw }}</td>
                    <td class="item" id="amount-due">${{ plan.getTotal|evaluate|raw|number_format(2) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div id="total-info">
            <div class="item" id="credit">${{ customer.getPc|number_format(2) }}</div>
        </div>

        <div id="payment-info">
            <div class="item full">${{ total|number_format(2) }}</div>
            <div class="item three">${{ three|number_format(2) }}</div>
            <div class="item eight">${{ eight|number_format(2) }}</div>
        </div>

        <div id="payment-summary">
            <div class="item full">${{ total|number_format(2) }}</div>
            <div class="item three">${{ three|number_format(2) }}</div>
            <div class="item eight">${{ eight|number_format(2) }}</div>
        </div>

        <div id="customer-summary">
            <div class="item" id="account">Account #: {{ customer.getSlug }}</div>
            <div class="item" id="address">
                {{ customer.getFirstName }}<br>
                {% if customer.getLastName is not null and customer.getLastName != '' %}
                    {{ customer.getLastName }}<br>
                {% endif %}
                {{ customer.getAddress1 }}<br>
                {% if customer.getAddress2 is not null and customer.getAddress2 != '' %}
                    {{ customer.getAddress2 }}<br>
                {% endif %}
                {{ customer.getCity }}
            </div>
            <div id="phone">
                <div class="item">{{ phone[0] }}</div>
                {% if phone[1] is defined %}
                    <div class="item" style="margin-top: 4px;">{{ phone[1] }}</div>
                {% endif %}
                {% if phone[2] is defined %}
                    <div class="item" style="margin-top: 1px;">{{ phone[2] }}</div>
                {% endif %}
            </div>
            <div class="item" id="email">{{ customer.getEmail }}</div>
        </div>
    </div>
</body>
</html>
