<!doctype html>
<html>
<head>
    <script type="text/javascript">
	    var _gaq = _gaq || [];
	    _gaq.push(['_setAccount', '{{google_analytics_key}}']);
	    _gaq.push(['_trackPageview']);

	    (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	    })();
    </script>
<meta http-equiv="REFERRER" content="http://wildbrochure.dev.sportsdigita.com">
<meta http-equiv="REFRESH" content="0;url={{ redirect_url }}">
<title>Minnesota Wild</title>
</head>
<body>
</body>
</html>