{% if tabs|length > 1 %}
    {% for tab in tabs %}
        {% if tab.getShortName() == 'welcome' %}
            <div class="nav-item nav-4 tab-welcome"><span class="single">Welcome</span></div>
        {% endif %}

        {% if tab.getShortName() == 'memcard' %}
            <div class="nav-item nav-2 tab-group"><span class="double longnav">Membership Card Tutorial</span></div>
        {% endif %}

        {% if tab.getShortName() == 'pricingmap' %}
            <div class="nav-item nav-2 tab-group"><span class="double longnav">Seating Map &amp;<br />Pricing</span></div>
        {% endif %}

        {% if tab.getShortName() == 'upgrade' %}
            <div class="nav-item nav-2 tab-group"><span class="single">Upgrade Your Seats</span></div>
        {% endif %}

        {% if tab.getShortName() == 'extension' %}
            <div class="nav-item nav-4 tab-welcome"><span class="double longnav">Membership<br />Extension Guide</span></div>
        {% endif %}

        {% if tab.getShortName() == 'capsule' %}
            <div class="nav-item nav-2 tab-group"><span class="single">Member Capsule</span></div>
        {% endif %}






    {% endfor %}
{% else %}
{% endif %}
