{% if tabs|length > 1 %}
    {% set checkChoose = false %}
    {% for tab in tabs %}
        {% if tab.getShortName() == 'welcome' %}
            <div class="slides">
                <div class="slide-item r-memcard-1">
                    <div class="jwplayer" id="testimonial" ></div>
                </div>
            </div>
        {% endif %}
        {% if tab.getShortName() == 'memcard' %}
            <div class="slides">

                <div class="slide-item r-memcard-1">
                    <div class="jwplayer" id="ticketcardtutorialvideo" ></div>
                </div>

            </div>
        {% endif %}

        <!-- *********** Pricing Map  *********** -->
        {% if tab.getShortName() == 'pricingmap' %}
            <div class="slides" style="display: block; width: 2190px; left: 0px;"><div class="slide-item r-pricing">
                    <div class="r-pricing-btn-cont">
                        <a href="/pdf/Crew_2015_full.pdf" target="_blank"><div class="slidebtn"><p>SEATING MAP &amp; PRICING</p></div></a>
                        <!--<a href="https://oss.ticketmaster.com/aps/crew/EN/link/buy/details/14fs18?camefrom=sportsdigita" target="_blank"><div class="slidebtn"><p>PRICING</p></div></a>-->
                    </div>
                </div></div>
        {% endif %}

        <!-- *********** Upgrade  *********** -->
        {% if tab.getShortName() == 'upgrade' %}
            <div class="slides">
                <div class="slide-item">
                    <img src="{{ asset('images/slides/renew/new/r-upgrade-1.jpg') }}">
                </div>
                <div class="slide-item">
                    <img src="{{ asset('images/slides/renew/new/r-upgrade-2.jpg') }}">
                </div>
                <div class="slide-item">
                    <img src="{{ asset('images/slides/renew/new/r-upgrade-3.jpg') }}">
                </div>
                <div class="slide-item">
                    <img src="{{ asset('images/slides/renew/new/r-upgrade-4.jpg') }}">
                </div>
                <div class="slide-item">
                    <img src="{{ asset('images/slides/renew/new/r-upgrade-5.jpg') }}">
                </div>
            </div>
        {% endif %}

        <!-- *********** Extension Guide  *********** -->
        {% if tab.getShortName() == 'extension' %}
            <div class="slides">
                <div class="slide-item">
                    <img src="{{ asset('images/slides/renew/new/r-extension-1.jpg') }}">
                </div>
            </div>
        {% endif %}

        <!-- *********** Member Capsule  *********** -->
        {% if tab.getShortName() == 'capsule' %}
            <div class="slides">
                <div class="slide-item r-capsule">
                    <!--<div class="group-btn-cont">
                        <a href="https://oss.ticketmaster.com/aps/crew/EN/link/buy/details/14fs18?camefrom=sportsdigita" target="_blank"><div class="slidebtn"><p>CLICK TO VIEW</p></div></a>
                    </div>-->
                    &nbsp;
                </div>
            </div>
        {% endif %}



        {% if tab.getShortName() == 'custom' %}
            <div class="slides slides-8">
                <div class="slide-item">
                    <div class="custom-content">
                        <div class="big-text">Presented to: <br />
                            {% if customer is defined %}
                            {{ customer.getName() }}
                        {% else %}
                            Loyal Customer
                            {% endif %}<br />
                        </div>
                        <div class="custom-content-container">
                            {{ customer.getCustomContent()|raw }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% else %}

    <!--<div class="slides slides-4">
        <div class="slide-item full-benefits">
            <div class="jwplayer" id="intro"></div>
        </div>
    </div>

    <div class="slides">
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_2a.jpg') }}">
            <a href="{{ asset('pdf/letter.pdf')}}" class="letter" target="_blank"></a>
        </div>
    </div>

    <div class="slides slides-2">
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_3a.jpg') }}">
        </div>
    </div>

    <div class="slides slides-3">
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_4a.jpg') }}">
            <a href="javascript:void(0);" class="suites"></a>
            <a href="javascript:void(0);" class="scotts-field"></a>
            <a href="javascript:void(0);" class="center-circle"></a>
            <a href="javascript:void(0);" class="premier-east"></a>
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_4b.jpg') }}">
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_4c.jpg') }}">
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_4d.jpg') }}">
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_4e.jpg') }}">
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_4f.jpg') }}">
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_4g.jpg') }}">
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_4h.jpg') }}">
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_4i.jpg') }}">
        </div>
    </div>

    <div class="slides slides-5">
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_5a.jpg') }}">
        </div>
    </div>

    <div class="slides slides-6">
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_5a.jpg') }}">
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_5b.jpg') }}">
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_5c.jpg') }}">
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_5d.jpg') }}">
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_5e.jpg') }}">
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_5f.jpg') }}">
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_5g.jpg') }}">
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_5h.jpg') }}">
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_5i.jpg') }}">
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_5j.jpg') }}">
        </div>
        <div class="slide-item">
            <img src="{{ asset('images/slides/acquisition/season_5k.jpg') }}">
        </div>
    </div>-->



{% endif %}
