/** customize admin nav-bar here **/
.sonata-bc .navbar-fixed-top .navbar-inner, .sonata-bc .navbar-static-top .navbar-inner {
    background: rgb(206,220,231); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */

}

/** customize left nav-bar items **/
.sonata-bc .navbar .brand, .sonata-bc .navbar .nav>li>a
{ color: #000; }
.sonata-bc .navbar .nav>li>a:focus,
.sonata-bc .navbar .nav>li>a:hover
{ color: #DDD; text-shadow: 0 1px 2px rgba(0,0,0,1); }

.sonata-bc .navbar .nav li.dropdown.open>.dropdown-toggle,
.sonata-bc .navbar .nav li.dropdown.active>.dropdown-toggle,
.sonata-bc .navbar .nav li.dropdown.open.active>.dropdown-toggle
{ text-shadow: 0 1px 2px rgba(255,255,255,.8); }

.sonata-bc .navbar .nav li.dropdown>.dropdown-toggle .caret
{ border-top-color: #FFF; border-bottom-color: #FFF; }

/** customize right nav-bar items **/

.navbar-inner .container-fluid .users-link,
.navbar-inner .container-fluid .profile-link {
    color: #000;
    position: relative;
    float: right;
    margin-top: 11px;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #FFF;
}

.navbar-text, .navbar-text a, .navbar-text a:hover
{ color: #000; }

.tabs-options label,
.offers-options label {
    display: block;
    padding: 8px;
    margin: 0 8px 8px 0;
    color: #151515;
    text-shadow: 0 -1px 2px rgba(255,255,255,1);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.25);
    background: #fefefe; /* Old browsers */
    background: -moz-linear-gradient(top,  #fefefe 0%, #e7e7e7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#e7e7e7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fefefe 0%,#e7e7e7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fefefe 0%,#e7e7e7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fefefe 0%,#e7e7e7 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fefefe 0%,#e7e7e7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
}

.offers-options label input { opacity: 1 !important; }

.mceIframeContainer {
    background: center center no-repeat url(/images/slides/custom_slide.jpg) !important;
}
