@font-face {
    font-family: 'font_body';
    src: url('../fonts/duke-fill-webfont.eot');
    src: url('../fonts/duke-fill-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/duke-fill-webfont.woff') format('woff'),
         url('../fonts/duke-fill-webfont.ttf') format('truetype'),
         url('../fonts/duke-fill-webfont.svg#dukefill') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'mlsthick1';
    src: url('../fonts/mls-thick-1-webfont.eot');
    src: url('../fonts/mls-thick-1-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mls-thick-1-webfont.woff') format('woff'),
         url('../fonts/mls-thick-1-webfont.ttf') format('truetype'),
         url('../fonts/mls-thick-1-webfont.svg#mlsthick_1') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mlsthin1';
    src: url('../fonts/mls-thin-1-webfont.eot');
    src: url('../fonts/mls-thin-1-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mls-thin-1-webfont.woff') format('woff'),
         url('../fonts/mls-thin-1-webfont.ttf') format('truetype'),
         url('../fonts/mls-thin-1-webfont.svg#mlsthin_1') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebasregular';
    src: url('../fonts/BEBAS___-webfont.eot');
    src: url('../fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BEBAS___-webfont.woff') format('woff'),
         url('../fonts/BEBAS___-webfont.ttf') format('truetype'),
         url('../fonts/BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futura_condensedbold';
    src: url('../fonts/futura_condensed_bold-webfont.eot');
    src: url('../fonts/futura_condensed_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura_condensed_bold-webfont.woff') format('woff'),
         url('../fonts/futura_condensed_bold-webfont.ttf') format('truetype'),
         url('../fonts/futura_condensed_bold-webfont.svg#futura_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'mls_neoclassicregular';
    src: url('../fonts/mls_neo-classic-webfont.eot');
    src: url('../fonts/mls_neo-classic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mls_neo-classic-webfont.woff') format('woff'),
         url('../fonts/mls_neo-classic-webfont.ttf') format('truetype'),
         url('../fonts/mls_neo-classic-webfont.svg#mls_neoclassicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'mls_metronicregular';
    src: url('../fonts/mostardesign_-_metronic_pro_regular-webfont.eot');
    src: url('../fonts/mostardesign_-_metronic_pro_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mostardesign_-_metronic_pro_regular-webfont.woff') format('woff'),
    url('../fonts/mostardesign_-_metronic_pro_regular-webfont.ttf') format('truetype'),
    url('../fonts/mostardesign_-_metronic_pro_regular-webfont.svg#mls_neoclassicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'mls_borisblackbloxx';
    src: url('../fonts/borisblackbloxx-webfont.eot');
    src: url('../fonts/borisblackbloxx-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/borisblackbloxx-webfont.woff') format('woff'),
    url('../fonts/borisblackbloxx-webfont.ttf') format('truetype'),
    url('../fonts/borisblackbloxx-webfont.svg#mls_neoclassicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}