body {
    font-size: 22px;
}

#main {
    position: relative;
    width: 1008px;
    height: 1215px;
    margin: 0 auto 0;
}

#main #invoice-bg {
    display: block;
}

#main #customer-info {
    position: absolute;
    top: 5px;
    left: 0px;
    width: 260px;
    font-weight: bold;
}

#main #item-info {
    position: absolute;
    top: 120px;
}

#main #item-info .item {
    position: relative;
    float: left;
}

#main #item-info #section {
    margin-left: 60px;
}

#main #item-info #row {
    margin-left: 80px;
}

#main #item-info #seats {
    margin-left: 67px;
}

#main #item-info #num-seats {
    margin-left: 88px;
}

#main #item-info #price-per-seat {
    margin-left: 88px;
}

#main #item-info #amount-due {
    margin-left: 75px;
}

#main #total-info {
    position: absolute;
    top: 420px;
    right: 49px;
    font-size: 20px;
}

#main #payment-info {
    position: absolute;
    top: 525px;
    left: 70px;
}

#main #payment-info .item {
    position: relative;
    color: red;
    font-size: 20px;
    float: left;
}

#main #payment-info .three {
    margin-left: 230px;
}

#main #payment-info .eight {
    margin-left: 290px;
}

#main #payment-summary {
    position: absolute;
    top: 872px;
    right: 210px;
    color: red;
}

#main #payment-summary .three {
    margin-top: 15px;
}

#main #payment-summary .eight {
    margin-top: 15px;
}

#main #customer-summary {
    position: absolute;
    top: 830px;
    left: 20px;
    font-size: 18px;
}

#main #customer-summary #phone {
    position: absolute;
    top: 129px;
    left: 90px;
    width: 190px;
}

#main #customer-summary #email {
    position: absolute;
    top: 220px;
}
