/*
 *  Core styles for eBrochure
 */

/*-----------------------------------*\
    Table of contents
=========================
    GLOBAL
    PRELOADER
    HEADER
    NAV
    FOOTER
\*-----------------------------------*/


/*-----------------------------------*\
    $GLOBAL
\*-----------------------------------*/

html {
    width: 100%;
    height: 100%;
    background: #111;
}
body {
    overflow: auto;
    width: 100%;
    height: 100%;
    font-family: 'font_body';
    min-height: 920px;
}
a {
    text-decoration: none;
}
.bgimg {
    background: url('../images/body/bg.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
    -ms-behavior: url(../backgroundsize.min.htc);
}
#wrapper {
    position: relative;
    width: 959px;
    height: 808px;
    margin: 0 auto;
    margin-bottom: 25px;
    opacity: 1;
    background: url('../images/body/wrapper-bg.png');
    -webkit-box-shadow: 2px 2px 20px rgba(40, 40, 40, 0.75);
    -moz-box-shadow:    2px 2px 20px rgba(40, 40, 40, 0.75);
    box-shadow:         2px 2px 20px rgba(40, 40, 40, 0.75);
}

/*-----------------------------------*\
    $PRELOADER
\*-----------------------------------*/
#loading-contain {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 50;
    top: 0;
    left: 0;
    .loading-bg {
        position: fixed;
        background: #065837;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    #logo-contain {
        position: relative;
        width: 735px;
        height: 500px;
        top: 50%;
        left: 50%;
        margin-top: -250px;
        margin-left: -365px;
        z-index: 100;
        .logo-outline {
            position: absolute;
            display: none;
        }
        .logo {
            position: absolute;
            display: none;
        }
    }
    #video-contain {
        position: relative;
        display: none;
        background: url('../images/intro/video-bg.jpg');
        top: 50%;
        left: 50%;
        margin-top: -480px;
        margin-left: -415px;
        width: 828px;
        height: 488px;
        z-index: 50;
        .skip-video-button {
            position: relative;
            background: url('../images/buttons/skip-video.png') no-repeat;
            height: 33px;
            width: 125px;
            top: 35px;
            right: -703px;
            cursor: pointer;
            z-index: 1000;
        }
        #intro {
            position: relative;
            width: 800px;
            height: 460px;
            background: #111;
            z-index: 50;
        }
        .video-control {
            position: relative;
            width: 800px;
            height: 460px;
            background: #111;
            left: 14px;
            top: 14px;
        }
    }
}

/*-----------------------------------*\
    $HEADER
\*-----------------------------------*/
#header {
    width: 960px;
    height: 158px;
    position: relative;
    margin-left: -25px;
    z-index: 9000;
    .personalize {
        position: absolute;
        color: #024f30;
        font-size: 38px;
        left: 260px;
        top: -5px;
        z-index: 9999;
    }
    .bar {
        position: absolute;
        width: 1005px;
        height: 137px;
    }
    .altbar {
        position: absolute;
        width: 1012px;
        height: 169px;
    }

    .altbar-logo {
        position: absolute;
        background: url('../images/body/crew-logo.png') no-repeat;
        height: 136px;
        width: 86px;
        top: 27px;
        left: 50px;
    }

    .renew-now {
        position: absolute;
        background: url('../images/buttons/buynow.png') no-repeat;
        display: block;
        width: 224px;
        height: 66px;
        top: 60px;

        right: -31px;
    }

    .countdown-copy {
        font-size: 23px;
        font-family: 'mlsthick1';
        color: black;
        position: absolute;
        top: 24px;
        right: 182px;
    }

    .countdown {
        position: absolute;
        background: url('../images/body/countdown-bg.png') no-repeat;
        width: 194px;
        height: 79px;
        right: -17px;
        top: 0;
        font-family: 'bebasregular';
        color: white;
        font-size: 31px;
        text-align: center;

        .days {
            position: relative;
            left: 5px;
            top: 23px;
            width: 54px;
        }
        .hours {
            position: relative;
            left: 71px;
            top: -20px;
            width: 54px;
        }
        .minutes {
            position: relative;
            left: 137px;
            top: -63px;
            width: 54px;
        }
        .seconds {
            position: relative;
            left: 95px;
            display: none;
            width: 54px;
        }
    }

    .altbar-copy {
        font-size: 41px;
        font-family: 'mlsthick1';
        left: 152px;
        color: black;
        position: absolute;
        top: 73px;
    }

    .invoice {
        position: absolute;
        background: url('../images/buttons/invoice.png') no-repeat;
        width: 123px;
        height: 24px;
        cursor: pointer;
        right: 125px;
        top: 10px;
    }
}

.haspop {
    cursor: pointer;
}
.rbc-logo {
    position: absolute;
    background: url('../images/body/rbc-logo.png');
    width: 250px;
    height: 48px;
    top: 25px;
    left: -18px;
}
#nav {
    height: 425px;
    width: 219px;
    position: absolute;
    top: 19px;
    left: -32px;
    z-index: 100;
    overflow: hidden;
    &.premium {
        display: block;
        top: 85px;
    }
    .killscroll {
        height: 425px;
        width: 300px;
        position: absolute;
        top: 8px;
        left: 0px;
        overflow: auto;
    }
    .nav-item {
        font-family: 'mlsthin1';
        background: url('../images/buttons/nav.png') no-repeat;
        width: 218px;
        height: 59px;
        margin-top: 6px;
        cursor: pointer;
        color: black;
        &:hover {
            background: url('../images/buttons/nav-active.png') no-repeat;
            color: #ffe800;
        }
        span {
            display: inline-block;
            width: 230px;
            font-family: 'mlsthin1';
            font-size: 29px;
            line-height: 1;
            text-transform: uppercase;
            text-shadow: 1px 1px 1px black;
            text-align: center;
        }
        &.tab-custom span.double {
            height: 59px;
            display: table-cell;
            vertical-align: middle;
        }
        &.tab-hospitality span {
            margin-left: -5px;
        }
        .single {
            margin-top: 20px;
        }
        .double {
            margin-top: 5px;
            font-size: 26px;
        }
        .double.longnav{
            width: 224px;
            font-size: 28px;
        }
    }
    .active {
        background: url('../images/buttons/nav-active.png') no-repeat;
        color: #ffe800;
    }
}
.main {
    position: relative;
    width: 961px;
    height: 712px;
    top: 0px;
    left: 24px;
    #content {
        width: 733px;
        height: 433px;
        position: relative;
        margin: -11px 0 0 193px;
        -webkit-box-shadow: 2px 2px 7px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 2px 2px 7px rgba(50, 50, 50, 0.75);
        box-shadow: 2px 2px 7px rgba(50, 50, 50, 0.75);
        #slide-contain {
            width: 730px;
            height: 437px;
            overflow: hidden;
            position: relative;
            .slider {
                position: absolute;
                width: 730px ;
                .slides-corp  {
                    .corpa{
                        display: block;
                        position: absolute;
                        background: url('../images/buttons/pixel.png');
                        width: 120px;
                        height: 180px;
                        top: 200px;
                        left: 180px;
                        &.stadium-club {
                            left: 320px;
                        }
                        &.field-level {
                            left: 440px;
                        }
                    }
                }
                .slides {
                    width: 730px;
                    height: 437px;
                    position: absolute;
                    left: 0;
                    top: 15px;
                    .slide-item {
                        width: 730px;
                        height: 437px;
                        padding: 0 6px;
                        position: relative;
                        float: left;
                        img {
                            margin-left: 0px;
                            margin-top: -1px;
                            width: 720px;
                            height: 419px;
                            border: 2px;
                            border-color: #000;
                            border-style: solid;
                        }
                        img.custom-logo {
                            width: 100%;
                            height: 100%;
                            border: none;
                            max-width: 220px;
                            height: auto;
                        }
                        .custom-text {
                            position: absolute;
                            max-width: 610px;
                            top: 20px;
                            margin-left: 40px;
                            color: #FFF;
                        }
                        .suites {
                            position: absolute;
                            display: block;
                            background: url('../images/buttons/pixel.png');
                            height: 149px;
                            width: 126px;
                            top: 213px;
                            left: 93px;
                            cursor: pointer;
                            z-index: 500;
                        }
                        .scotts-field {
                            position: absolute;
                            display: block;
                            background: url('../images/buttons/pixel.png');
                            height: 149px;
                            width: 126px;
                            top: 213px;
                            left: 228px;
                            cursor: pointer;
                            z-index: 500;
                        }
                        .center-circle {
                            position: absolute;
                            display: block;
                            background: url('../images/buttons/pixel.png');
                            height: 149px;
                            width: 126px;
                            top: 213px;
                            left: 367px;
                            cursor: pointer;
                            z-index: 500;
                        }

                        .premier-east {
                            position: absolute;
                            display: block;
                            background: url('../images/buttons/pixel.png');
                            height: 149px;
                            width: 126px;
                            top: 213px;
                            left: 505px;
                            cursor: pointer;
                            z-index: 500;
                        }

                        .relocate {
                            position: absolute;
                            display: block;
                            background: url('../images/buttons/pixel.png');
                            height: 149px;
                            width: 126px;
                            top: 213px;
                            left: 575px;
                            cursor: pointer;
                            z-index: 500;
                        }
                    }
                }
            }
        }
    }
    #personalize-jersey-contain {
        width: 36px;
        position: absolute;
        overflow: hidden;
        height: 410px;
        right: -45px;
        top: 28px;

        #personalize-jersey-link {
            height: 409px;
            left: 0;
            width: 36px;
            position: absolute;
            top: 0;
            z-index: 1000;
            cursor: pointer;
            background: url('../images/buttons/PersonalizeYourJersey-nonactive.png') no-repeat;
        }

        #personalize-jersey {
            background: url('../images/buttons/personalize-jersey.png') no-repeat;
            height: 409px;
            width: 745px;
            position: absolute;
            z-index: 500;
            top: 0;
        }

        #stitch-jersey-link {
            position: absolute;
            display: none;
            right: 0;
            top: 294px;
            height: 75px;
            width: 202px;
            cursor: pointer;
            z-index: 1000;
        }

        #personal-name {
            position: absolute;
            top: 156px;
            left: 199px;
            height: 30px;
            width: 400px;
            z-index: 1000;
            background: none;
            border: none;
            font-family: 'mlsthin1';
            font-size: 28px;

        }

        #personal-number {
            position: absolute;
            top: 232px;
            left: 223px;
            height: 30px;
            width: 400px;
            z-index: 1000;
            background: none;
            border: none;
            font-family: 'mlsthin1';
            font-size: 28px;

        }
    }
    .personal-catch{
        display: none;
        position: absolute;
        background: #000;
        opacity: .7;
        width: 3000px;
        height: 3000px;
        top: -1000px;
        left: -1000px;
        z-index: 9000;
    }
    .personal-frame{
        position: fixed;
        width: 927px;
        height: 573px;
        top: 50%;
        margin-top: -299px;
        left: 50%;
        margin-left: -472px;
        background: url('../../images/pages/jersey-contain.png');
        z-index: 9999;
        display: none;
        overflow: hidden;
    }
    .error{
        position: absolute;
        display: none;
        background: url('../../images/buttons/error.png');
        width: 426px;
        height: 136px;
        top: 186px;
        left: 240px;
        z-index: 1000;
    }
    .personal-share{
        position: absolute;
        display: block;
        background: url('../../images/buttons/jersey-share.png') no-repeat;
        width: 746px;
        height: 416px;
        top: 76px;
        right: -710px;
        overflow: hidden;
        cursor: pointer;
        .personal-share-link {
            height: 409px;
            left: 0;
            width: 36px;
            position: absolute;
            top: 0;
            z-index: 1000;
            cursor: pointer;
            background: url('../images/buttons/PersonalizeYourJersey-nonactive.png') no-repeat;
        }
        #personal-name-share{
            position: absolute;
            top: 168px;
            left: 197px;
            width: 315px;
            font-size: 22px;
            border: none;
            background: none;
            color: #000;
            font-family: 'mlsthin1';
            z-index: 9500;
        }
        #personal-number-share{
            position: absolute;
            top: 244px;
            left: 221px;
            width: 315px;
            font-size: 22px;
            border: none;
            background: none;
            color: #000;
            font-family: 'mlsthin1';
            z-index: 9500;
        }
        .jersey-submit-share{
            position: absolute;
            width: 215px;
            height: 69px;
            top: 301px;
            left: 529px;
            cursor: pointer;
            z-index: 9999;
        }
    }
    .personal-social{
        position: absolute;
        display: block;
        background: url('../../images/buttons/jersey-social.png') no-repeat;
        width: 183px;
        height: 43px;
        top: 435px;
        left: 20px;
    }
    .personal-fb{
        position: absolute;
        display: block;
        width: 31px;
        height: 35px;
        top: 438px;
        left: 121px;
        cursor: pointer;
        z-index: 999;
    }
    .personal-twit{
        position: absolute;
        display: block;
        width: 33px;
        height: 35px;
        top: 438px;
        left: 161px;
        cursor: pointer;
        z-index: 999;
    }
    .personal-email{
        position: absolute;
        display: block;
        width: 33px;
        height: 35px;
        top: 437px;
        left: 78px;
        cursor: pointer;
        z-index: 999;
    }
    .personal-download{
        position: absolute;
        display: block;
        background: url('../../images/buttons/jersey-download.png') no-repeat;
        width: 184px;
        height: 46px;
        top: 480px;
        left: 20px;
        cursor: pointer;
    }
    .personal-close{
        display: none;
        height: 33px;
        width: 50%;
        color: #ffffff;
        font-family: 'mlsthin1';
        font-size: 24px;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px #333;
        position: relative;
        z-index: 99999;
        cursor: pointer;
        margin: 0 auto;
        left: 423px;
        top: 11px;
        text-align: center;
    }
    #person-img{
        position: absolute;
        margin-top: 7px;
        margin-left: 8px;
        width: 98%;
        background: white;
        padding: 5px;
    }

    .contact-rep {
        position: absolute;
        background: url('../images/buttons/contact-rep.png') no-repeat;
        width: 36px;
        height: 196px;
        right: -10px;
        top: 451px;
        cursor: pointer;
        z-index: 1000;
        
        .rep-link {
            position: absolute;
            background: url('../images/buttons/contact-rep-button.png') no-repeat;
            width: 36px;
            height: 188px;
            top: 7px;
            left: 0;
            z-index: 1000;
        }

        .rep-slider {
            position: relative;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            overflow: hidden;
            .rep-image {
                position: relative;
                background: url('../images/body/logo-small.png');
                width: 71px;
                height: 48px;
                left: 60px;
                top: 10px;
            }
            .rep-photo {
                top: 5px;
                max-width: 90px;
                max-height: 90px;
                height: 90px;
                right: 112px;
                width: 90px;
                margin-left: 145px;
                img {
                    display: block;
                    max-height: 90px;
                    max-width: 90px;
                    margin: 5px auto;
                    border: 2px solid black;
                }
            }
            .rep-name {
                position: relative;
                width: 180px;
                height: 100px;
                top: 15px;
                left: 5px;
                text-align: center;
                color: #FFF;
                font-size: 40px;
                line-height: .7;
                text-shadow: 1px 1px 1px black;
            }
            .rep-contact {
                position: relative;
                width: 180px;
                height: 100px;
                top: -50px;
                left: 3px;
                text-align: center;
                color: #FFF;
                font-size: 40px;
                text-shadow: 1px 1px 1px black;
            }
            .rep-link {
                position: relative;
                top: -100px;
                left: 37px;
                font-size: 34px;
                color: white;
                text-shadow: 1px 1px 1px black;
                text-decoration: underline;
            }
            .header {
                font-family: 'mlsthick1';
                font-size: 30px;
                width: 320px;
                top: 100px;
                left: 36px;
                position: absolute;
                text-align: center;
                text-transform: uppercase;
            }
            .link {
                font-family: 'futura_condensedbold';
                font-size: 20px;
                width: 320px;
                top: 137px;
                left: 36px;
                position: absolute;
                text-align: center;
                text-transform: uppercase;
                color: black;
                text-decoration: underline;
            }
            .phone {
                font-family: 'futura_condensedbold';
                font-size: 20px;
                width: 320px;
                top: 165px;
                left: 36px;
                position: absolute;
                text-align: center;
                text-transform: uppercase;
            }
        }
    }
}

.offer-wrapper {
    .offer-tab-contain {
        position: absolute;
        right: -49px;
        height: 444px;
        width: 42px;
        top: 0px;
        overflow: hidden;
        .offer-tab {
            position: absolute;
            right: 0;
            height: 445px;
            width: 42px;
            top: 0px;
            cursor: pointer;
        }
    }
    .offer-contain {
        width: 719px;
        height: 421px;
        position: absolute;
        top: 0px;
        right: -8px;
        background: none;
        z-index: 150;
        overflow: hidden;
        .offer {
            width: 719px;
            height: 421px;
            position: absolute;
            right: -718px;
            top: 0;
        }
    }
}
.intro-video-button {
    position: absolute;
    top: 0;
    right: -5px;
    width: 31px;
    height: 160px;
    background: url('../images/buttons/video.png') no-repeat;
    overflow: hidden;
    box-shadow: 1px 3px 8px #000;
    cursor: pointer;
}

.faq-button {
    position: absolute;
    top: 169px;
    right: -5px;
    width: 31px;
    height: 83px;
    background: url('../images/buttons/faq.png') no-repeat;
    overflow: hidden;
    box-shadow: 1px 3px 8px #000;
}

.share-button {
    position: absolute;
    top: 175px;
    right: -5px;
    width: 31px;
    height: 108px;
    background: url('../images/buttons/share.png') no-repeat;
    box-shadow: 1px 3px 8px #000;
    .fb-link {
        position: relative;
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
    .twit-link {
        position: relative;
        top: 3px;
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
}
.shine {
    width: 43px;
    height: 50px;
    position: absolute;
    top: -50px;
    right: 0;
    background: url('../../images/shine.png') no-repeat;
    z-index: 4;
}
#lower-content {
    margin: 14px 0 0 -7px;
    width: 938px;
    height: 198px;
    position: relative;
    -webkit-box-shadow: 2px 2px 7px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 7px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 7px rgba(50, 50, 50, 0.75);
        #button-contain-lower {
            width: 930px;
            height: 198px;
            overflow: hidden;
            position: relative;

            .lower-button-renew {
                background: url('../images/buttons/renew-now.png') no-repeat;
                width: 302px;
                height: 192px;
                position: relative;
                float: left;
                margin-right: 10px;
            }

            .lower-button-benefits {
                background: url('../images/buttons/benefits.png') no-repeat;
                width: 302px;
                height: 192px;
                position: relative;
                float: left;
                margin-right: 10px;
                a {
                    display: inline-block;
                    width: 300px;
                    height: 98px;
                }
            }

            .lower-button-map {
                background: url('../images/buttons/seating-map-button.png') no-repeat;
                width: 302px;
                height: 192px;
                position: relative;
                float: left;
            }
        }
    .next-arrow {
        position: absolute;
        top: 100px;
        right: 0;
        width: 34px;
        height: 44px;
        background: url('../../images/buttons/arrow-right.png') no-repeat;
        z-index: 100;
        cursor: pointer;
    }
    .prev-arrow {
        position: absolute;
        top: 100px;
        left: 11px;
        width: 34px;
        height: 44px;
        background: url('../../images/buttons/arrow-left.png') no-repeat;
        z-index: 100;
        cursor: pointer;
    }
    .ribbon {
        background: url('../../images/buttons/ribbon.png') no-repeat;
        position: relative;
        display: block;
        width: 252px;
        height: 61px;
        top: 180px;
    }
    .two-thirds {
        width: 624px;
        height: 231px;
        margin: 0 0 0 6px;
        position: relative;
        background: #fff;
        img {
            width: 624px;
            height: 231px;
        }
    }
    .one-third {
        width: 316px;
        height: 231px;
        margin: 0 0 0 6px;
        position: relative;
        background: #fff;
    }
    div div.customer-logo {
        margin: 6px;
        width: 295px;
        height: 239px;
        background: url('../images/middlebox.png') no-repeat;
    }
    .ad-swap, .ad-swap-static {
        width: 307px;
        height: 252px;
        opacity: 1;
        z-index: 1;
        position: relative;
        cursor: pointer;
        margin-right: 10px;
        >div {
            background: #343434; /* Old browsers */
            background: -moz-linear-gradient(left,  #343434 0%, #b3b3b3 50%, #343434 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,#343434), color-stop(50%,#b3b3b3), color-stop(100%,#343434)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(left,  #343434 0%,#b3b3b3 50%,#343434 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(left,  #343434 0%,#b3b3b3 50%,#343434 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(left,  #343434 0%,#b3b3b3 50%,#343434 100%); /* IE10+ */
            background: linear-gradient(to right,  #343434 0%,#b3b3b3 50%,#343434 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343434', endColorstr='#343434',GradientType=1 ); /* IE6-9 */
            position: absolute;
            height: 100%;
            width: 100%;
            img {
                position: absolute;
                top: 7px;
                left: 6px;
                width: 294px;
                height: 239px;
            }
        }
    }
    #custom-logo-contain {
        width: 100%;
        height: 135px;
        top: 90px;
        position: absolute;
        overflow: hidden
    }
    .nologo-contain {
        position: absolute;
        width: 305px;
        text-align: center;
        margin-top: 5px;
    }
    .dm-nologo {
        font-family: 'font_body';
        font-size: 28px;
        color: #111111;
    }
    .text-nologo {
        font-family: 'font_body';
        font-size: 36px;
        color: #111111;
        margin-top: -10px;
        line-height: 1;
    }
    .custom-logo {
        position: relative;
    }
}
.next-arrow {
    position: absolute;
    top: 200px;
    right: -7px;
    width: 50px;
    height: 66px;
    background: url('../../images/buttons/arrow-right.png') no-repeat;
    z-index: 100;
    cursor: pointer;
}
.prev-arrow {
    position: absolute;
    top: 200px;
    left: -1px;
    width: 50px;
    height: 66px;
    background: url('../../images/buttons/arrow-left.png') no-repeat;
    z-index: 100;
    cursor: pointer;
}
.popup-contain {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    .popup.seastick-pop{
        top: 36%;
    }
    .popup {
        width: 800px;
        height: 500px;
        left: 50%;
        margin-left: -400px;
        top: 50%;
        margin-top: -250px;
        background: none;
        z-index: 2;
        position: absolute;
        img {
            float: right;
        }
        &.group-pop {
            margin-top: -330px;
        }
    }
    .seating-map {
        width: 1000px;
        margin-left: -500px;
        .close-x {
            top: -35px;
            left: 916px;
        }
    }
    .popup-profile {
        width: 542px;
        height: 325px;
        left: 50%;
        margin-left: -271px;
        top: 50%;
        margin-top: -170px;
        background: none;
        letter-spacing: 1px;
        z-index: 2;
        position: absolute;
    }
    .see-benefits-pop {
        width: 936px;
        height: 684px;
        left: 50%;
        margin-left: -468px;
        top: 50%;
        margin-top: -342px;
        background: none;
        z-index: 2;
        position: absolute;
    }
    .see-benefits-pop2 {
        width: 704px;
        height: 514px;
        left: 50%;
        margin-left: -352px;
        top: 50%;
        margin-top: -257px;
        background: none;
        z-index: 2;
        position: absolute;
        .renew-now {
            position: absolute;
            display: block;
            height: 48px;
            width: 198px;
            top: 406px;
            left: 128px;
            cursor: pointer;
            z-index: 500;

        }
        .faq {
            position: absolute;
            display: block;
            height: 48px;
            width: 198px;
            top: 406px;
            left: 369px;
            cursor: pointer;
            z-index: 500;

        }
    }
    .part-benefits-pop {
        width: 536px;
        height: 368px;
        left: 50%;
        margin-left: -268px;
        top: 50%;
        margin-top: -184px;
        background: none;
        z-index: 2;
        position: absolute;
    }
    .part-benefits {
        position: relative;
        float: none !important;
        top: 50%;
        left: 50%;
        margin-top: -160px;
        margin-left: -470px;
    }

    .half-season-pop {
        width: 536px;
        height: 368px;
        left: 50%;
        margin-left: -268px;
        top: 50%;
        margin-top: -184px;
        background: none;
        z-index: 2;
        position: absolute;
    }

    .half-season-info {
        position: relative;
        float: none !important;
        top: 50%;
        left: 50%;
        margin-top: -160px;
        margin-left: -470px;
    }

    .ten-game-pop {
        width: 536px;
        height: 368px;
        left: 50%;
        margin-left: -268px;
        top: 50%;
        margin-top: -184px;
        background: none;
        z-index: 2;
        position: absolute;
    }

    .ten-game-info {
        position: relative;
        float: none !important;
        top: 50%;
        left: 50%;
        margin-top: -160px;
        margin-left: -470px;
    }


    .incentives {
        background: url('../images/popups/incentives.png');
        width: 934px;
        height: 683px;
        margin: -90px 0 0 -70px;
    }
    .incentives-full {
        background: url('../images/popups/incentives-full.png');
        width: 934px;
        height: 683px;
        margin: -90px 0 0 -70px;
    }
    .popup-catch {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../../images/body/popup-bg.png') repeat;
        z-index: 1;
    }
    .close-x-invoice {
        position: absolute;
        top: -35px;
        left: 842px;
        height: 26px;
        width: 95px;
        color: white;
        font-size: 25px;
        cursor: pointer;
        font-family: 'mlsthin1';
        text-align: center;
        text-shadow: 1px 1px 1px #333;
        text-transform: uppercase;
    }
    .close-x {
        position: absolute;
        top: -35px;
        left: 695px;
        height: 26px;
        width: 95px;
        color: white;
        font-size: 25px;
        cursor: pointer;
        font-family: 'mlsthin1';
        text-align: center;
        text-shadow: 1px 1px 1px #333;
        text-transform: uppercase;
    }
    .renew-now {
        position: absolute;
        display: block;
        height: 48px;
        width: 198px;
        top: 358px;
        left: 225px;
        cursor: pointer;
        z-index: 500;

    }
    .faq {
        position: absolute;
        display: block;
        height: 48px;
        width: 198px;
        top: 358px;
        left: 466px;
        cursor: pointer;
        z-index: 500;

    }

    .invoice-pop {
        position: absolute;
        display: block;
        height: 48px;
        width: 198px;
        top: 358px;
        left: 466px;
        cursor: pointer;
        z-index: 500;

        .invoice {
            background: url('../images/popups/invoice_new.jpg') no-repeat;
            height: 1191px;
            width: 920px;

            .account-number {
                position: absolute;
                font-family: 'mls_neoclassicregular';
                top: 97px;
                left: 621px;
                font-size: 14px;
            }

            table {
                border: 0;
                position: absolute;
                font-family: 'mls_neoclassicregular';
                top: 283px;
                left: 45px;
                font-size: 14px;
                width: 900px;

                .description {
                    width: 310px;
                }

                .section {
                    width: 105px;
                }

                .row {
                    width: 77px;
                }

                .seats {
                    width: 85px;
                }

                .matches {
                    width: 140px;
                }
            }

            .total-balance {
                position: absolute;
                top: 713px;
                left: 805px;
            }

            .invoice-renew {
                position: absolute;
                top: 1069px;
                left: 677px;
                height: 52px;
                width: 202px;
                background: url('../images/buttons/pixel.png');
            }
        }
    }
}
.install-flash {
    background: none;
    padding: 10px;
}
.install-flash h1 {
    font-size: 24px;
    text-align: center;
    font-family: 'font_body';
    color: #303965;
}
.install-flash p {
    margin: 0 auto 0;
    text-align: center;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.share {
    background: url('../images/body/share.png') no-repeat;
    position: absolute;
    top: 445px;
    left: -64px;
    width: 40px;
    height: 162px;

    .facebook {
        background: url('../images/buttons/facebook.png') no-repeat;
        position: relative;
        height: 24px;
        width: 24px;
        top: 116px;
        left: 8px;
    }

    .twitter {
        background: url('../images/buttons/twitter.png') no-repeat;
        position: relative;
        height: 24px;
        width: 24px;
        top: 62px;
        left: 8px;
    }
}

// **************** LINK PLACEMENTS *****************

.letter {
    position: absolute;
    display: block;
    background: url('../images/buttons/pixel.png') no-repeat;
    height: 100px;
    width: 273px;
    top: 288px;
    left: 344px;
    cursor: pointer;
}
.message {
    position: absolute;
    display: block;
    background: url('../images/buttons/pixel.png') no-repeat;
    height: 120px;
    width: 376px;
    top: 256px;
    left: 325px;
    cursor: pointer;
}
.on-field {
    position: absolute;
    display: block;
    background: url('../images/buttons/pixel.png') no-repeat;
    height: 120px;
    width: 128px;
    top: 233px;
    left: 167px;
    cursor: pointer;
}
.hs {
    position: absolute;
    display: block;
    background: url('../images/buttons/pixel.png') no-repeat;
    height: 120px;
    width: 132px;
    top: 233px;
    left: 441px;
    cursor: pointer;
}

#mccullers {
    left: 50px;
}

.realignment-link {
    position: absolute;
    display: block;
    background: url('../images/buttons/pixel.png');
    height: 40px;
    width: 170px;
    top: 371px;
    left: 260px;
    cursor: pointer;
}
.custom-content {
    background: url('../images/slides/acquisition/season-proposal-bg.jpg');
    padding: 20px 0 0 35px;
    height: 382px;
    font-family: 'mlsthin1', san-serif;
    font-size: 24px;
    strong{
        font-family: 'mlsthick1', san-serif;
    }
    ul {
        margin-left: 15px;
        list-style-position: inside;
    }
    .big-text {
        font-family: 'mlsthick1', san-serif;
        font-size: 26px;
        width: 420px;
        text-transform: uppercase;
    }
    span {
        background: none !important;
    }

    span[style="font-size: large;"], span[style="font-size: x-large;"], span[style="font-size: xx-large;"] {
        margin-top: 0.1em;
        display: block;
    }

    .logo {
        position: absolute;
        bottom: 50px;
        right: 27px;
        max-width: 160px;
        height: auto;
    }
    p {
        margin: 0 20px 0 0;
    }

    .custom-content-container {
      position: absolute; 
      z-index: 400; 
      width: 685px; 
      height: 331px;
      padding-right: 240px;
      padding-bottom: 15px;
      font-size: 30px; 
      font-family: 'mlsthin1';
      overflow: auto;
    }
}
.custom-logo-hd {
    position: absolute;
    right: -10px;
    top: 4px;
    width: 200px;
    text-align:center;
    .custom-hd {
        text-transform: uppercase;
        font-size: 21px;
        margin-bottom: -3px;
    }
    .custom-logo-sm {
        max-height: 30px;
        width: auto;
    }

}
