/*
 *  Core styles for eBrochure
 */
/*-----------------------------------*\
    Table of contents
=========================
    GLOBAL
    PRELOADER
    HEADER
    NAV
    FOOTER
\*-----------------------------------*/
/*-----------------------------------*\
    $GLOBAL
\*-----------------------------------*/
html {
  width: 100%;
  height: 100%;
  background: #ffffff; }

body {
  overflow: auto;
  width: 100%;
  height: 100%;
  font-family: 'font_body';
  min-height: 920px;

  background-image: url("../images/body/body_bk.jpg");
    background-repeat: repeat-x;
}

a {
  text-decoration: none; }

.bgimg {
  background: url("../images/body/bg-image.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
  -ms-behavior: url(../backgroundsize.min.htc);
}

.bgleft {
    background: url("../images/body/bg-image-left.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 0;
    position: absolute;
    top: 0px;
    left: -854px;
    width: 854px;
    height: 892px;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
    -ms-behavior: url(../backgroundsize.min.htc);
}
.bgright {
    background: url("../images/body/bg-image-right.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 0;
    position: absolute;
    top: 0px;
    left: 959px;
    width: 854px;
    height: 892px;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
    -ms-behavior: url(../backgroundsize.min.htc);
}

#wrapperouter {
    width:1554px;
    height:892px;
    position: absolute;
    left:-280px;
    background: url("../images/body/wrapper_outter_bk.jpg") no-repeat center center fixed;


    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


    min-height: 100%;
    min-width: 1554px;


    width: 100%;
    height: auto;


    position: fixed;
    top: 0;
    left: 0;
}

#wrapper {
  position: relative;
  width: 959px;
  height: 808px;
  margin: 0 auto;
  margin-bottom: 25px;
  opacity: 1;
  background: #ffe800;

  /*-webkit-box-shadow: 2px 2px 20px rgba(40, 40, 40, 0.75);
  -moz-box-shadow: 2px 2px 20px rgba(40, 40, 40, 0.75);
  box-shadow: 2px 2px 20px rgba(40, 40, 40, 0.75); */
}
#wrapperinner {
    position: relative;
    width: 959px;
    height: 808px;
    margin: 0 auto;
    margin-bottom: 25px;
    opacity: 1;
    background: #ffe800;
}
/*-----------------------------------*\
    $PRELOADER
\*-----------------------------------*/
#loading-contain {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 50;
  top: 0;
  left: 0; }
  #loading-contain .loading-bg {
    position: fixed;
    background: #065837;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  #loading-contain #logo-contain {
    position: relative;
    width: 735px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -365px;
    z-index: 100; }
    #loading-contain #logo-contain .logo-outline {
      position: absolute;
      display: none; }
    #loading-contain #logo-contain .logo {
      position: absolute;
      display: none; }
  #loading-contain #video-contain {
    position: relative;
    display: none;
    background: url("../images/intro/video-bg.jpg");
    top: 50%;
    left: 50%;
    margin-top: -480px;
    margin-left: -415px;
    width: 828px;
    height: 488px;
    z-index: 50; }
    #loading-contain #video-contain .skip-video-button {
      position: relative;
      background: url("../images/buttons/skip-video.png") no-repeat;
      height: 33px;
      width: 125px;
      top: 35px;
      right: -703px;
      cursor: pointer;
      z-index: 1000; }
    #loading-contain #video-contain #intro {
      position: relative;
      width: 800px;
      height: 460px;
      background: #111;
      z-index: 50; }
    #loading-contain #video-contain .video-control {
      position: relative;
      width: 800px;
      height: 460px;
      background: #111;
      left: 14px;
      top: 14px; }

/*-----------------------------------*\
    $HEADER
\*-----------------------------------*/
#header {
  width: 960px;
  height: 158px;
  position: relative;
  margin-left: -25px;
  z-index: 9000; }
  #header .personalize {
    position: absolute;
    color: #024f30;
    font-size: 38px;
    left: 260px;
    top: -5px;
    z-index: 9999; }
  #header .bar {
    position: absolute;
    width: 1005px;
    height: 137px; }
  #header .altbar {
    position: absolute;
    width: 1012px;
    height: 169px; }
  #header .altbar-logo {
    position: absolute;
    background: url("../images/body/crew-logo.png") no-repeat;
    height: 136px;
    width: 86px;
    top: 27px;
    left: 50px; }
  #header .renew-now {
    position: absolute;
    background: url("../images/buttons/buynow.png") no-repeat;
    display: block;
    width: 224px;
    height: 66px;
    top: 60px;
    right: -31px; }
  #header .countdown-copy {
    font-size: 23px;
    font-family: 'mlsthick1';
    color: black;
    position: absolute;
    top: 24px;
    right: 182px; }
  #header .countdown-title {
      text-align: center;position: absolute;top:10px;width:200px;right: -17px;
  }
  #header .countdown-title p {
      margin:0px;padding:0px;color:#000000;font-family: 'mls_metronicregular';font-size:14pt;
  }
  #header .countdown-title a {
    font-size: 12pt;
    font-family: 'mls_borisblackbloxx';
    font-weight: normal;
      color:#000000;
      text-transform: uppercase;
  }
  #header .countdown {
    position: absolute;
    background: url("../images/body/countdown-bg-new.png") no-repeat;
    width: 194px;
    height: 79px;
    right: -17px;
    top: 0;
    font-family: 'bebasregular';
    color: white;
    font-size: 31px;
    text-align: center; }
    #header .countdown .days {
      position: relative;
      left: 5px;
      top: 23px;
      width: 54px; }
    #header .countdown .hours {
      position: relative;
      left: 71px;
      top: -20px;
      width: 54px; }
    #header .countdown .minutes {
      position: relative;
      left: 137px;
      top: -63px;
      width: 54px; }
    #header .countdown .seconds {
      position: relative;
      left: 95px;
      display: none;
      width: 54px; }


    #header .countdown2 {
        position: absolute;
        background: url("../images/body/countdown-bg-new.png") no-repeat;
        width: 194px;
        height: 79px;
        right: -17px;
        top: 0;
        font-family: 'bebasregular';
        color: white;
        font-size: 31px;
        text-align: center; }
    #header .countdown2 .days {
        position: relative;
        left: 5px;
        top: 23px;
        width: 54px; }
    #header .countdown2 .hours {
        position: relative;
        left: 71px;
        top: -20px;
        width: 54px; }
    #header .countdown2 .minutes {
        position: relative;
        left: 137px;
        top: -63px;
        width: 54px; }
    #header .countdown2 .seconds {
        position: relative;
        left: 95px;
        display: none;
        width: 54px; }


#header .altbar-copy {
    font-size: 24px;
    /*font-family: 'mlsthick1';*/
    margin:0px auto;
    /*text-align: center;*/
    text-indent: 250px;
}
#header .altbar-copy p {
    margin:0px;padding:0px;
}
#header .altbar-copy-top {
    font-size: 60px;
    font-family: 'mls_metronicregular';
    color: black;
    letter-spacing: 0px;
}
#header .altbar-copy-bottom {
    font-size: 50px;
    font-family: 'mls_borisblackbloxx';
    color: black;
    position: relative;top: -20px;
}
#header p.altbar-copy-top {
    padding-top:10px;
}

  #header .invoice {
    position: absolute;
    background: url("../images/buttons/invoice.png") no-repeat;
    width: 123px;
    height: 24px;
    cursor: pointer;
    right: 125px;
    top: 10px; }

.haspop {
  cursor: pointer; }

.rbc-logo {
  position: absolute;
  background: url("../images/body/rbc-logo.png");
  width: 250px;
  height: 48px;
  top: 25px;
  left: -18px; }

#nav {
  height: 410px;
  width: 219px;
  position: absolute;
  top: 15px;
  left: -24px;
  z-index: 100;
  overflow: hidden;
}
  #nav.premium {
    display: block;
    top: 85px; }
  #nav .killscroll {
    height: 425px;
    width: 210px;
    position: absolute;
    /*top: 8px;*/
      top:0px;
    left: 0px;
    overflow: hidden; }
  #nav .nav-item {
    font-family: 'mls_metronicregular';
    /*background: url("../images/buttons/nav.png") no-repeat;*/
    background: black;
    width: 210px;
    height: 59px;
    margin-top: 6px;
    cursor: pointer;
    color: #ffe800;
  }
    #nav .nav-item:hover {
      /*background: url("../images/buttons/nav-active.png") no-repeat;*/
      background: #ffe800;
      color: #000;
    }
    #nav .nav-item span {
      display: inline-block;
      width: 210px;
      font-family: 'mls_metronicregular';
      font-size: 16px;
      line-height: 1;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px black;
      text-align: center;
      /*padding-left:20px;*/

    }
    #nav .nav-item.tab-custom span.double {
      height: 59px;
      display: table-cell;
      vertical-align: middle;
    }
    #nav .nav-item.tab-hospitality span {
      margin-left: -5px; }
    #nav .nav-item .single {
      margin-top: 20px; }
    #nav .nav-item .double {
      margin-top: 5px;
      font-size: 16px; }
    #nav .nav-item .double.longnav {
      width: 210px;
      font-size: 16px;
        padding-top:8px;
    }
  #nav .active {
    /*background: url("../images/buttons/nav-active.png") no-repeat;*/
      background: #ffe800;
      color: #000;
  }

.main {
  position: relative;
  width: 961px;
  height: 712px;
  top: 0px;
  left: 24px; }
  .main #content {
    width: 733px;
    height: 433px;
    position: relative;
    margin: -11px 0 0 193px;
    /*-webkit-box-shadow: 2px 2px 7px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 7px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 7px rgba(50, 50, 50, 0.75); */
  }
    .main #content #slide-contain {
      width: 730px;
      height: 437px;
      overflow: hidden;
      position: relative; }
      .main #content #slide-contain .slider {
        position: absolute;
        width: 730px; }
        .main #content #slide-contain .slider .slides-corp .corpa {
          display: block;
          position: absolute;
          background: url("../images/buttons/pixel.png");
          width: 120px;
          height: 180px;
          top: 200px;
          left: 180px; }
          .main #content #slide-contain .slider .slides-corp .corpa.stadium-club {
            left: 320px; }
          .main #content #slide-contain .slider .slides-corp .corpa.field-level {
            left: 440px; }
        .main #content #slide-contain .slider .slides {
          width: 730px;
          height: 437px;
          position: absolute;
          left: 0;
          top: 15px; }
          .main #content #slide-contain .slider .slides .slide-item {
            width: 730px;
            height: 437px;
            padding: 0 6px;
            position: relative;
            float: left; }
            .main #content #slide-contain .slider .slides .slide-item img {
              margin-left: 0px;
              margin-top: -1px;
              width: 720px;
              height: 419px;
              /*border: 2px;
              border-color: #000;
              border-style: solid; */
            }
            .main #content #slide-contain .slider .slides .slide-item img.custom-logo {
              width: 100%;
              height: 100%;
              border: none;
              max-width: 220px;
              height: auto; }
            .main #content #slide-contain .slider .slides .slide-item .custom-text {
              position: absolute;
              max-width: 610px;
              top: 20px;
              margin-left: 40px;
              color: #FFF; }
            .main #content #slide-contain .slider .slides .slide-item .suites {
              position: absolute;
              display: block;
              background: url("../images/buttons/pixel.png");
              height: 149px;
              width: 126px;
              top: 213px;
              left: 93px;
              cursor: pointer;
              z-index: 500; }
            .main #content #slide-contain .slider .slides .slide-item .scotts-field {
              position: absolute;
              display: block;
              background: url("../images/buttons/pixel.png");
              height: 149px;
              width: 126px;
              top: 213px;
              left: 228px;
              cursor: pointer;
              z-index: 500; }
            .main #content #slide-contain .slider .slides .slide-item .center-circle {
              position: absolute;
              display: block;
              background: url("../images/buttons/pixel.png");
              height: 149px;
              width: 126px;
              top: 213px;
              left: 367px;
              cursor: pointer;
              z-index: 500; }
            .main #content #slide-contain .slider .slides .slide-item .premier-east {
              position: absolute;
              display: block;
              background: url("../images/buttons/pixel.png");
              height: 149px;
              width: 126px;
              top: 213px;
              left: 505px;
              cursor: pointer;
              z-index: 500; }
            .main #content #slide-contain .slider .slides .slide-item .relocate {
              position: absolute;
              display: block;
              background: url("../images/buttons/pixel.png");
              height: 149px;
              width: 126px;
              top: 213px;
              left: 575px;
              cursor: pointer;
              z-index: 500; }
  .main #personalize-jersey-contain {
    width: 36px;
    position: absolute;
    overflow: hidden;
    height: 410px;
    right: -45px;
    top: 28px; }
    .main #personalize-jersey-contain #personalize-jersey-link {
      height: 409px;
      left: 0;
      width: 36px;
      position: absolute;
      top: 0;
      z-index: 1000;
      cursor: pointer;
      background: url("../images/buttons/PersonalizeYourJersey-nonactive.png") no-repeat; }
    .main #personalize-jersey-contain #personalize-jersey {
      background: url("../images/buttons/personalize-jersey.png") no-repeat;
      height: 409px;
      width: 745px;
      position: absolute;
      z-index: 500;
      top: 0; }
    .main #personalize-jersey-contain #stitch-jersey-link {
      position: absolute;
      display: none;
      right: 0;
      top: 294px;
      height: 75px;
      width: 202px;
      cursor: pointer;
      z-index: 1000; }
    .main #personalize-jersey-contain #personal-name {
      position: absolute;
      top: 156px;
      left: 199px;
      height: 30px;
      width: 400px;
      z-index: 1000;
      background: none;
      border: none;
      font-family: 'mlsthin1';
      font-size: 28px; }
    .main #personalize-jersey-contain #personal-number {
      position: absolute;
      top: 232px;
      left: 223px;
      height: 30px;
      width: 400px;
      z-index: 1000;
      background: none;
      border: none;
      font-family: 'mlsthin1';
      font-size: 28px; }
  .main .personal-catch {
    display: none;
    position: absolute;
    background: #000;
    opacity: .7;
    width: 3000px;
    height: 3000px;
    top: -1000px;
    left: -1000px;
    z-index: 9000; }
  .main .personal-frame {
    position: fixed;
    width: 927px;
    height: 573px;
    top: 50%;
    margin-top: -299px;
    left: 50%;
    margin-left: -472px;
    background: url("../../images/pages/jersey-contain.png");
    z-index: 9999;
    display: none;
    overflow: hidden; }
  .main .error {
    position: absolute;
    display: none;
    background: url("../../images/buttons/error.png");
    width: 426px;
    height: 136px;
    top: 186px;
    left: 240px;
    z-index: 1000; }
  .main .personal-share {
    position: absolute;
    display: block;
    background: url("../../images/buttons/jersey-share.png") no-repeat;
    width: 746px;
    height: 416px;
    top: 76px;
    right: -710px;
    overflow: hidden;
    cursor: pointer; }
    .main .personal-share .personal-share-link {
      height: 409px;
      left: 0;
      width: 36px;
      position: absolute;
      top: 0;
      z-index: 1000;
      cursor: pointer;
      background: url("../images/buttons/PersonalizeYourJersey-nonactive.png") no-repeat; }
    .main .personal-share #personal-name-share {
      position: absolute;
      top: 168px;
      left: 197px;
      width: 315px;
      font-size: 22px;
      border: none;
      background: none;
      color: #000;
      font-family: 'mlsthin1';
      z-index: 9500; }
    .main .personal-share #personal-number-share {
      position: absolute;
      top: 244px;
      left: 221px;
      width: 315px;
      font-size: 22px;
      border: none;
      background: none;
      color: #000;
      font-family: 'mlsthin1';
      z-index: 9500; }
    .main .personal-share .jersey-submit-share {
      position: absolute;
      width: 215px;
      height: 69px;
      top: 301px;
      left: 529px;
      cursor: pointer;
      z-index: 9999; }
  .main .personal-social {
    position: absolute;
    display: block;
    background: url("../../images/buttons/jersey-social.png") no-repeat;
    width: 183px;
    height: 43px;
    top: 435px;
    left: 20px; }
  .main .personal-fb {
    position: absolute;
    display: block;
    width: 31px;
    height: 35px;
    top: 438px;
    left: 121px;
    cursor: pointer;
    z-index: 999; }
  .main .personal-twit {
    position: absolute;
    display: block;
    width: 33px;
    height: 35px;
    top: 438px;
    left: 161px;
    cursor: pointer;
    z-index: 999; }
  .main .personal-email {
    position: absolute;
    display: block;
    width: 33px;
    height: 35px;
    top: 437px;
    left: 78px;
    cursor: pointer;
    z-index: 999; }
  .main .personal-download {
    position: absolute;
    display: block;
    background: url("../../images/buttons/jersey-download.png") no-repeat;
    width: 184px;
    height: 46px;
    top: 480px;
    left: 20px;
    cursor: pointer; }
  .main .personal-close {
    display: none;
    height: 33px;
    width: 50%;
    color: #ffffff;
    font-family: 'mlsthin1';
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #333;
    position: relative;
    z-index: 99999;
    cursor: pointer;
    margin: 0 auto;
    left: 423px;
    top: 11px;
    text-align: center; }
  .main #person-img {
    position: absolute;
    margin-top: 7px;
    margin-left: 8px;
    width: 98%;
    background: white;
    padding: 5px; }
.main .contact-rep a {font-family: 'mls_metronicregular';font-size:12pt;color: #fff;text-indent: 10px;}
.main .contact-rep p {font-family: 'mls_metronicregular';font-size:12pt;color: #fff;text-indent: 10px;padding-top: 0px; margin-top: 5px;}
  .main .contact-rep {
    position: absolute;
    /*background: url("../images/buttons/contact-rep.png") no-repeat;*/
      background: #000000;
      color: #fff;
      font-family: 'mls_metronicregular';
      font-size:10pt;
    width: 196px;
    height: 35px;
    left:-23px;
    top:661px;
    cursor: pointer;
    z-index: 1000; }
    .main .contact-rep .rep-link {
      position: absolute;
      /*background: url("../images/buttons/contact-rep-button.png") no-repeat;*/
        width: 196px;
        height: 35px;
      top: 7px;
      left: 0;
      z-index: 1000; }
    .main .contact-rep .rep-slider {
      position: relative;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      overflow: hidden; }
      .main .contact-rep .rep-slider .rep-image {
        position: relative;
        /*background: url("../images/body/logo-small.png");*/
          background: #000000;
        width: 71px;
        height: 48px;
        left: 60px;
        top: 10px; }
      .main .contact-rep .rep-slider .rep-photo {
        /*top: 5px;
        max-width: 90px;
        max-height: 90px;
        height: 90px;
        right: 112px;
        width: 90px;
        margin-left: 145px;*/

      }
        .main .contact-rep .rep-slider .rep-photo img {
          display: block;
          max-height: 90px;
          max-width: 90px;
         /* margin: 5px auto;*/
          border: 2px solid black;
        }
      .main .contact-rep .rep-slider .rep-name {
        position: relative;
        /*width: 180px;
        height: 100px;*/
        top: 15px;
        left: 5px;
        text-align: left;
        color: #FFF;
        font-size: 40px;
        line-height: .7;
        text-shadow: 1px 1px 1px black; }
      .main .contact-rep .rep-slider .rep-contact {
        position: relative;
        width: 180px;
        height: 100px;
        top: -50px;
        left: 3px;
        text-align: center;
        color: #FFF;
        font-size: 40px;
        text-shadow: 1px 1px 1px black; }
      .main .contact-rep .rep-slider .rep-link {
        position: relative;
        top: -100px;
        left: 37px;
        font-size: 10px;
        color: white;
        text-shadow: 1px 1px 1px black;
        text-decoration: underline;
          color: #fff;
          font-family: 'mls_metronicregular';
          text-align: center;
      }
      .main .contact-rep .rep-slider .header {
          font-family: 'mls_metronicregular';
        font-size: 30px;
        width: 320px;
        top: 100px;
        left: -10px;
        position: absolute;
        text-align: center;
        text-transform: uppercase; }
      .main .contact-rep .rep-slider .link {
          font-family: 'mls_metronicregular';
        font-size: 14px;
        width: 320px;
        top: 50px;
        left: -10px;
          text-align: center;
        position: absolute;

        text-transform: uppercase;
        color: white;
        text-decoration: underline; }
      .main .contact-rep .rep-slider .phone {
          color: #fff;
          font-family: 'mls_metronicregular';
        font-size: 14px;
        width: 320px;
        top: 85px;
        left: -10px;
          text-align: center;
        position: absolute;

        text-transform: uppercase;
      }

.offer-wrapper .offer-tab-contain {
  position: absolute;
  right: -49px;
  height: 444px;
  width: 42px;
  top: 0px;
  overflow: hidden; }
  .offer-wrapper .offer-tab-contain .offer-tab {
    position: absolute;
    right: 0;
    height: 445px;
    width: 42px;
    top: 0px;
    cursor: pointer; }
.offer-wrapper .offer-contain {
  width: 719px;
  height: 421px;
  position: absolute;
  top: 0px;
  right: -8px;
  background: none;
  z-index: 150;
  overflow: hidden; }
  .offer-wrapper .offer-contain .offer {
    width: 719px;
    height: 421px;
    position: absolute;
    right: -718px;
    top: 0; }

.intro-video-button {
  position: absolute;
  top: 0;
  right: -5px;
  width: 31px;
  height: 160px;
  background: url("../images/buttons/video.png") no-repeat;
  overflow: hidden;
  box-shadow: 1px 3px 8px #000;
  cursor: pointer; }

.faq-button {
  position: absolute;
  top: 169px;
  right: -5px;
  width: 31px;
  height: 83px;
  background: url("../images/buttons/faq.png") no-repeat;
  overflow: hidden;
  box-shadow: 1px 3px 8px #000; }

.share-button {
  position: absolute;
  top: 175px;
  right: -5px;
  width: 31px;
  height: 108px;
  background: url("../images/buttons/share.png") no-repeat;
  box-shadow: 1px 3px 8px #000; }
  .share-button .fb-link {
    position: relative;
    width: 25px;
    height: 25px;
    cursor: pointer; }
  .share-button .twit-link {
    position: relative;
    top: 3px;
    width: 25px;
    height: 25px;
    cursor: pointer; }

.shine {
  width: 43px;
  height: 50px;
  position: absolute;
  top: -50px;
  right: 0;
  background: url("../../images/shine.png") no-repeat;
  z-index: 4; }

#lower-content {
  margin: 14px 0 0 -7px;
  width: 938px;
  height: 198px;
  position: relative;
  /*-webkit-box-shadow: 2px 2px 7px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 2px 2px 7px rgba(50, 50, 50, 0.75);
  box-shadow: 2px 2px 7px rgba(50, 50, 50, 0.75); */
}
  #lower-content #button-contain-lower {
    width: 930px;
    height: 198px;
    overflow: hidden;
    position: relative; }
    #lower-content #button-contain-lower .lower-button-renew {
      background: url("../images/buttons/gold-level-member.jpg") no-repeat;
      width: 302px;
      height: 192px;
      position: relative;
      float: left;
      margin-right: 10px; }
#lower-content #button-contain-lower .lower-button-renew-2 {
    background: url("../images/slides/renew/new/extend-membership-now.jpg") no-repeat;
    width: 302px;
    height: 192px;
    position: relative;
    float: left;
    margin-right: 10px; }
    #lower-content #button-contain-lower .lower-button-benefits {
      background: url("../images/buttons/membership-schedule.jpg") no-repeat;
      width: 302px;
      height: 192px;
      position: relative;
      float: left;
      margin-right: 10px; }
      #lower-content #button-contain-lower .lower-button-benefits a {
        display: inline-block;
        width: 300px;
        height: 98px; }

    #lower-content #button-contain-lower .lower-button-benefits-2 {
        background: url("../images/slides/renew/new/membership-benefits.jpg") no-repeat;
        width: 302px;
        height: 192px;
        position: relative;
        float: left;
        margin-right: 10px; }
    #lower-content #button-contain-lower .lower-button-benefits-2 a {
        display: inline-block;
        width: 300px;
        height: 192px; }

    #lower-content #button-contain-lower .lower-button-map {
      background: url("../images/buttons/seat-viewer.jpg") no-repeat;
      width: 302px;
      height: 192px;
      position: relative;
      float: left; }
  #lower-content .next-arrow {
    position: absolute;
    top: 100px;
    right: 0;
    width: 34px;
    height: 44px;
    background: url("../../images/buttons/arrow-right.png") no-repeat;
    z-index: 100;
    cursor: pointer; }
  #lower-content .prev-arrow {
    position: absolute;
    top: 100px;
    left: 11px;
    width: 34px;
    height: 44px;
    background: url("../../images/buttons/arrow-left.png") no-repeat;
    z-index: 100;
    cursor: pointer; }
  #lower-content .ribbon {
    background: url("../../images/buttons/ribbon.png") no-repeat;
    position: relative;
    display: block;
    width: 252px;
    height: 61px;
    top: 180px; }
  #lower-content .two-thirds {
    width: 624px;
    height: 231px;
    margin: 0 0 0 6px;
    position: relative;
    background: #fff; }
    #lower-content .two-thirds img {
      width: 624px;
      height: 231px; }
  #lower-content .one-third {
    width: 316px;
    height: 231px;
    margin: 0 0 0 6px;
    position: relative;
    background: #fff; }
  #lower-content div div.customer-logo {
    margin: 6px;
    width: 295px;
    height: 239px;
    background: url("../images/middlebox.png") no-repeat; }
  #lower-content .ad-swap, #lower-content .ad-swap-static {
    width: 307px;
    height: 252px;
    opacity: 1;
    z-index: 1;
    position: relative;
    cursor: pointer;
    margin-right: 10px; }
    #lower-content .ad-swap > div, #lower-content .ad-swap-static > div {
      background: #343434;
      /* Old browsers */
      background: -moz-linear-gradient(left, #343434 0%, #b3b3b3 50%, #343434 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, #343434), color-stop(50%, #b3b3b3), color-stop(100%, #343434));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left, #343434 0%, #b3b3b3 50%, #343434 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left, #343434 0%, #b3b3b3 50%, #343434 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(left, #343434 0%, #b3b3b3 50%, #343434 100%);
      /* IE10+ */
      background: linear-gradient(to right, #343434 0%, #b3b3b3 50%, #343434 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#343434', endColorstr='#343434',GradientType=1 );
      /* IE6-9 */
      position: absolute;
      height: 100%;
      width: 100%; }
      #lower-content .ad-swap > div img, #lower-content .ad-swap-static > div img {
        position: absolute;
        top: 7px;
        left: 6px;
        width: 294px;
        height: 239px; }
  #lower-content #custom-logo-contain {
    width: 100%;
    height: 135px;
    top: 90px;
    position: absolute;
    overflow: hidden; }
  #lower-content .nologo-contain {
    position: absolute;
    width: 305px;
    text-align: center;
    margin-top: 5px; }
  #lower-content .dm-nologo {
    font-family: 'font_body';
    font-size: 28px;
    color: #111111; }
  #lower-content .text-nologo {
    font-family: 'font_body';
    font-size: 36px;
    color: #111111;
    margin-top: -10px;
    line-height: 1; }
  #lower-content .custom-logo {
    position: relative; }

.next-arrow {
  position: absolute;
  top: 200px;
  right: -7px;
  width: 50px;
  height: 66px;
  background: url("../../images/buttons/arrow-right.png") no-repeat;
  z-index: 100;
  cursor: pointer; }

.prev-arrow {
  position: absolute;
  top: 200px;
  left: -1px;
  width: 50px;
  height: 66px;
  background: url("../../images/buttons/arrow-left.png") no-repeat;
  z-index: 100;
  cursor: pointer; }

.popup-contain {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none; }
  .popup-contain .popup.seastick-pop {
    top: 36%; }
  .popup-contain .popup {
    width: 800px;
    height: 500px;
    left: 50%;
    margin-left: -400px;
    top: 50%;
    margin-top: -250px;
    background: none;
    z-index: 2;
    position: absolute; }
    .popup-contain .popup img {
      float: right; }
    .popup-contain .popup.group-pop {
      margin-top: -330px; }
  .popup-contain .seating-map {
    width: 1000px;
    margin-left: -500px; }
    .popup-contain .seating-map .close-x {
        font-family: 'mls_metronicregular';
      top: -35px;
      left: 916px; }
  .popup-contain .popup-profile {
    width: 542px;
    height: 325px;
    left: 50%;
    margin-left: -271px;
    top: 50%;
    margin-top: -170px;
    background: none;
    letter-spacing: 1px;
    z-index: 2;
    position: absolute; }
  .popup-contain .see-benefits-pop {
    width: 936px;
    height: 684px;
    left: 50%;
    margin-left: -468px;
    top: 50%;
    margin-top: -342px;
    background: none;
    z-index: 2;
    position: absolute; }
  .popup-contain .see-benefits-pop2 {
    width: 704px;
    height: 514px;
    left: 50%;
    margin-left: -352px;
    top: 50%;
    margin-top: -257px;
    background: none;
    z-index: 2;
    position: absolute; }
    .popup-contain .see-benefits-pop2 .renew-now {
      position: absolute;
      display: block;
      height: 48px;
      width: 198px;
      top: 406px;
      left: 128px;
      cursor: pointer;
      z-index: 500; }
    .popup-contain .see-benefits-pop2 .faq {
      position: absolute;
      display: block;
      height: 48px;
      width: 198px;
      top: 406px;
      left: 369px;
      cursor: pointer;
      z-index: 500; }
  .popup-contain .part-benefits-pop {
    width: 536px;
    height: 368px;
    left: 50%;
    margin-left: -268px;
    top: 50%;
    margin-top: -184px;
    background: none;
    z-index: 2;
    position: absolute; }
  .popup-contain .part-benefits {
    position: relative;
    float: none !important;
    top: 50%;
    left: 50%;
    margin-top: -160px;
    margin-left: -470px; }
  .popup-contain .half-season-pop {
    width: 536px;
    height: 368px;
    left: 50%;
    margin-left: -268px;
    top: 50%;
    margin-top: -184px;
    background: none;
    z-index: 2;
    position: absolute; }
  .popup-contain .half-season-info {
    position: relative;
    float: none !important;
    top: 50%;
    left: 50%;
    margin-top: -160px;
    margin-left: -470px; }
  .popup-contain .ten-game-pop {
    width: 536px;
    height: 368px;
    left: 50%;
    margin-left: -268px;
    top: 50%;
    margin-top: -184px;
    background: none;
    z-index: 2;
    position: absolute; }
  .popup-contain .ten-game-info {
    position: relative;
    float: none !important;
    top: 50%;
    left: 50%;
    margin-top: -160px;
    margin-left: -470px; }
  .popup-contain .incentives {
    background: url("../images/popups/incentives.png");
    width: 934px;
    height: 683px;
    margin: -90px 0 0 -70px; }
  .popup-contain .incentives-full {
    background: url("../images/popups/incentives-full.png");
    width: 934px;
    height: 683px;
    margin: -90px 0 0 -70px; }
  .popup-contain .popup-catch {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../../images/body/popup-bg.png") repeat;
    z-index: 1; }
  .popup-contain .close-x-invoice {
    position: absolute;
    top: -35px;
    left: 830px;
    height: 26px;
    width: 95px;
    color: white;
    font-size: 21px;
    cursor: pointer;
      font-family: 'mls_metronicregular';
    text-align: center;
    text-shadow: 1px 1px 1px #333;
    text-transform: uppercase; }
  .popup-contain .close-x {
    position: absolute;
    top: -35px;
    left: 695px;
    height: 26px;
    width: 95px;
    color: white;
    font-size: 21px;
    cursor: pointer;
      font-family: 'mls_metronicregular';
    text-align: center;
    text-shadow: 1px 1px 1px #333;
    text-transform: uppercase; }
  .popup-contain .renew-now {
    position: absolute;
    display: block;
    height: 48px;
    width: 198px;
    top: 358px;
    left: 225px;
    cursor: pointer;
    z-index: 500; }
  .popup-contain .faq {
    position: absolute;
    display: block;
    height: 48px;
    width: 198px;
    top: 358px;
    left: 466px;
    cursor: pointer;
    z-index: 500; }
  .popup-contain .invoice-pop {
    position: absolute;
    display: block;
    height: 48px;
    width: 198px;
    top: 358px;
    left: 466px;
    cursor: pointer;
    font-family: 'mls_metronicregular';
    z-index: 500; }
    .popup-contain .invoice-pop .invoice {
      background: url("../images/popups/invoice_new.jpg") no-repeat;
      height: 1191px;
      width: 920px; }

      .popup-contain .invoice-pop .invoice .account-number {
        position: absolute;
        /*font-family: 'mls_neoclassicregular';*/
        top: 100px;
        left: 645px;
        font-size: 14px; }
      .popup-contain .invoice-pop .invoice .invoice-date {
        position: absolute;
        /*font-family: 'mls_neoclassicregular';*/
        top: 78px;
        left: 610px;
        font-size: 14px;
        width:200px;
      }

    .popup-contain .invoice-pop .invoice .account-name {
         position: absolute;
         /*font-family: 'mls_neoclassicregular';*/
         top: 85px;
         left: 355px;
         font-size: 14px;
         width: 200px;
     }
    .popup-contain .invoice-pop .invoice .account-org {
        position: absolute;
        /*font-family: 'mls_neoclassicregular';*/
        top: 65px;
        left: 355px;
        font-size: 14px;
        width: 280px;
    }

    .popup-contain .invoice-pop .invoice .account-info {
        position: absolute;
        /*font-family: 'mls_neoclassicregular';*/
        top: 65px;
        left: 315px;
        font-size: 14px;
        width: 230px;
        height: auto;
        word-wrap: break-word;
    }
    .popup-contain .invoice-pop .invoice .account-info p {
        padding: 3px;
        margin:0px;
    }


.popup-contain .invoice-pop .invoice .account-address1 {
        position: absolute;
        /*font-family: 'mls_neoclassicregular';*/
        top: 105px;
        left: 355px;
        font-size: 14px;
        width: 200px;
    }
    .popup-contain .invoice-pop .invoice .account-address2 {
        position: absolute;
        /*font-family: 'mls_neoclassicregular';*/
        top: 125px;
        left: 355px;
        font-size: 14px;
        width: 200px;
    }




      .popup-contain .invoice-pop .invoice table {
        border: 0;
        position: absolute;
        /*font-family: 'mls_neoclassicregular';*/
        top: 283px;
        left: 45px;
        font-size: 14px;
        width: 900px; }
        .popup-contain .invoice-pop .invoice table .description {
          width: 310px; }
        .popup-contain .invoice-pop .invoice table .section {
          width: 105px; }
        .popup-contain .invoice-pop .invoice table .row {
          width: 77px; }
        .popup-contain .invoice-pop .invoice table .seats {
          width: 125px; }
        .popup-contain .invoice-pop .invoice table .matches {
          width: 105px; }

        .popup-contain .invoice-pop .invoice .total-cost {
            position: absolute;
            top: 670px;
            left: 805px;
            font-size: 14px;
        }

      .popup-contain .invoice-pop .invoice .total-balance {
        position: absolute;
        top: 713px;
        left: 805px;
        font-size: 14px;
      }
      .popup-contain .invoice-pop .invoice .invoice-renew {
        position: absolute;
        top: 1069px;
        left: 677px;
        height: 52px;
        width: 202px;
        background: url("../images/buttons/pixel.png"); }

.install-flash {
  background: none;
  padding: 10px; }

.install-flash h1 {
  font-size: 24px;
  text-align: center;
  font-family: 'font_body';
  color: #303965; }

.install-flash p {
  margin: 0 auto 0;
  text-align: center; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.share {
  /*background: url("../images/body/share.png") no-repeat;*/
  position: absolute;
  top: 680px;
  left: 490px;
  width: 420px;
  height: 45px;
}
  .share .facebook {
    background: url("../images/buttons/social/facebook.jpg") no-repeat;
    position: relative;
    height: 39px;
    width: 39px;
    float:left;padding-right: 40px;
  }
.share .twitter {
    background: url("../images/buttons/social/twitter.jpg") no-repeat;
    position: relative;
    height: 39px;
    width: 39px;
    float:left;padding-right: 40px;
}
.share .instagram {
    background: url("../images/buttons/social/insta.jpg") no-repeat;
    position: relative;
    height: 39px;
    width: 39px;
    float:left;padding-right: 40px;
}
.share .gplus {
    background: url("../images/buttons/social/google.jpg") no-repeat;
    position: relative;
    height: 39px;
    width: 39px;
    float:left;padding-right: 40px;
}
.share .youtube {
    background: url("../images/buttons/social/youtube.jpg") no-repeat;
    position: relative;
    height: 39px;
    width: 39px;
    float:left;padding-right: 40px;
}


.letter {
  position: absolute;
  display: block;
  background: url("../images/buttons/pixel.png") no-repeat;
  height: 100px;
  width: 273px;
  top: 288px;
  left: 344px;
  cursor: pointer; }

.message {
  position: absolute;
  display: block;
  background: url("../images/buttons/pixel.png") no-repeat;
  height: 120px;
  width: 376px;
  top: 256px;
  left: 325px;
  cursor: pointer; }

.on-field {
  position: absolute;
  display: block;
  background: url("../images/buttons/pixel.png") no-repeat;
  height: 120px;
  width: 128px;
  top: 233px;
  left: 167px;
  cursor: pointer; }

.hs {
  position: absolute;
  display: block;
  background: url("../images/buttons/pixel.png") no-repeat;
  height: 120px;
  width: 132px;
  top: 233px;
  left: 441px;
  cursor: pointer; }

#mccullers {
  left: 50px; }

.realignment-link {
  position: absolute;
  display: block;
  background: url("../images/buttons/pixel.png");
  height: 40px;
  width: 170px;
  top: 371px;
  left: 260px;
  cursor: pointer; }

.custom-content {
  background: url("../images/body/custom-slide.jpg");
  padding: 20px 0 0 35px;
  height: 382px;
    font-family: 'mls_metronicregular';
  font-size: 16px;
    color:white;
    overflow-y: scroll;
}
  .custom-content strong {
      font-family: 'mls_metronicregular';
      color:white;
      font-weight: bold;
  }
  .custom-content ul {
    margin-left: 15px;
    list-style-position: inside; }
  .custom-content .big-text {
      font-family: 'mls_borisblackbloxx';
    font-size: 18px;
    width: 420px;
    text-transform: uppercase;
    margin-bottom: 15px;
      color: #fcf600;
  }
  .custom-content span {
    background: none !important; }
  .custom-content span[style="font-size: large;"], .custom-content span[style="font-size: x-large;"], .custom-content span[style="font-size: xx-large;"] {
    margin-top: 0.1em;
    display: block; }
  .custom-content .logo {
    position: absolute;
    bottom: 50px;
    right: 27px;
    max-width: 160px;
    height: auto; }
  .custom-content p {
    margin: 0 20px 0 0; }.
  .custom-content-container{
    position: absolute;
    z-index: 400;
    width: 685px;
    height: 331px;
    padding-right: 240px;
    padding-bottom: 35px;
    font-size: 30px;
    font-family: 'mlsthin1';

  }

.custom-content ol {
    margin-left: 15px;
    list-style-position: inside;
}
.custom-logo-hd {
  position: absolute;
  left: 25px;
  top: 4px;
  width: 200px;
  text-align: center;
}
  .custom-logo-hd .custom-hd {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: -3px;
      font-family: 'mls_metronicregular';
    /*padding-left:20px;*/
      text-align: center;
  }
  .custom-logo-hd .custom-logo-sm {
    max-height: 90px;
    max-width: 90px;
    width: auto;
      margin: 0px auto;
    margin-top: 10px;

  }

  /************NEW**********/
.slide-item {
    font-size: 18px;
    font-family: 'mls_metronicregular';
    color: white;
    letter-spacing: 1px;
}
.slide-item .sub {
    font-size:12px;
}
.a-welcome-1 {
      background: url("../images/slides/acquisition/new/a-welcome-1.jpg");
      background-repeat: no-repeat;

  }
.a-welcome-1-copy {
    margin-top:205px;
    margin-left:45px;
}
.a-memcard-1 {
    /*background: url("../images/slides/acquisition/new/a-memcard-1.jpg");*/
    /*background: url("../images/slides/acquisition/new/a-membercard-1.jpg");
    background-repeat: no-repeat;*/

}
.a-memcard-1-copy {
    margin-top:205px;
    margin-left:45px;
}
.corp-btn-cont {top:117px;left:62px;position: absolute;}
.slidebtn {
    background: black;
    width:260px;
    height:57px;
    border:1px solid #39342b;
    color:#ffe800;
    font-size:12pt;
    font-family: 'mls_metronicregular';
    text-align: center;
    margin-bottom:7px;

    background-color:rgba(0,0,0,0.5);
}
.slidebtn:hover {cursor: hand;background:#ffe800;color:black; background-color:rgba(255,232,0,0.5);}
.slidebtn a {font-family: 'mls_metronicregular';color:#ffe800;
    font-size:12pt;}
.slidebtn a:hover {font-family: 'mls_metronicregular';color:black;
    font-size:12pt;}
.slidebtn p {padding-top:0px;margint-top:0px;}
.corp-party {

}
.gold-btn-cont {
    position: absolute;top:192px;left:235px;
}
.s-gold {
    background: url("../images/slides/acquisition/new/a-goldlevelmember-1.jpg");
    background-repeat: no-repeat;
}
.corpout-btn-cont {
    top:165px;left:235px;position: absolute;
}

.s-group {
    background: url("../images/slides/acquisition/new/a-grouptickets-1.jpg");
    background-repeat: no-repeat;
}
.group-btn-cont {
    top:235px;left:235px;position: absolute;
}

.r-pricing {
    background: url("../images/slides/renew/new/r-pricingmap-1-1.jpg");
    background-repeat: no-repeat;
}
.r-pricing-btn-cont {
    position: absolute;top:210px;left:107px;
}
.r-capsule {
    background: url("../images/slides/renew/new/r-membercapsule-1.jpg");
    background-repeat: no-repeat;
}
.premier-btn-cont {
    top:200px;right:85px;position: absolute;
}
.premier-btn-cont .slidebtn {
    background: black;
    width:260px;
    height:40px;
    border:1px solid #39342b;
    color:#ffe800;
    font-size:12pt;
    font-family: 'mls_metronicregular';
    text-align: center;
    margin-bottom:7px;

    background-color:rgba(0,0,0,0.5);

}
.premier-btn-cont .slidebtn:hover {cursor: hand;background:#ffe800;color:black; background-color:rgba(255,232,0,0.5);}

.premier-btn-cont .slidebtn p {
    margin-top:7px;
}
.s-groupexp {
    background: url("../images/slides/acquisition/new/a-groupexperiences-1.jpg");
    background-repeat: no-repeat;
}
.groupex-btn-cont {
    top:185px;left:235px;position: absolute;
}
.popup-contain .popup-contact {
    width:380px;
    height:282px;
    background: #fee633;
    left: 50%;
    margin-left: -190px;
    top: 50%;
    margin-top: -141px;
    position: absolute;

}
.popup-contain .popup-contact .close-pop{
    width:370px;
    left: 50%;
    margin-left: -190px;
    height:30px;
    background: black;
    text-align: right;
    padding-right: 10px;
    top: -30px;
    font-family: 'mls_metronicregular';
    font-size:14pt;
}
.contact-inner {
    padding: 20px;
    text-align: center;
    font-family: 'mls_metronicregular';
    margin-top:75px;
}
.contact-inner h1 {
    font-size: 25pt;
    font-family: 'mls_borisblackbloxx';
    padding-bottom: 0px;
    margin-bottom: 5px;
}

.contact-inner .phone {
    font-size: 16pt;
}
.contact-inner a {
    color: #000000;
    text-decoration: underline;
}

.contact-inner .rep-photo {
    text-align: center;
    height:110px;
    width:110px;
    padding-bottom:10px;
}
.contact-inner .rep-photo img {
    max-width: 110px;
    max-height: 110px;
    text-align: center;
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}

.nav-item-down {
    position: absolute;top:400px;left:-24px;
    width: 210px;
    height: 28px;
    cursor: pointer;
    background: #ffe800;
    background-image: url("../images/buttons/nav_down.jpg");
    background-repeat: no-repeat;
    z-index: 100;
}

.nav-item-up {
    position: absolute;
    top:15px;left:-24px;
    width: 210px;
    height: 28px;
    cursor: pointer;
    background: #ffe800;
    background-image: url("../images/buttons/nav_up.jpg");
    background-repeat: no-repeat;
    z-index: 700;
    display: none;

}
#navscrollbtnup {

}


p.invoicelink {

}

#crew_logo {

}