/* core styles SD */
/* this is not the right style file */
/* so yeah, don't use it. use main.css */
body{
    background: url('../../images/bg.jpg'); background-size: 100%;
}

#wrapper {
    width: 960px;
    height: 870px;
    margin: 0 auto 0;
    background: #fcfaf3;
    position: relative;
}

#reveal-contain{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #333;
}

.reveal{
    position: relative;
    width: 100%;
    height: 100%;
    background: #333;
    overflow: hidden;
}

.reveal img{
    width: 1000%;
    height: 100%;
    
}

.sprite{
    position: absolute;
    left: 0;
}

#header{
    width: 960px;
    height: 150px;
    float: left;
    /*background: url('../../images/consumer/header.jpg') no-repeat;*/
    
}

.rep-info{
    font-family: 'bigdog_regular';
    color: #fff;
    text-transform: uppercase;
}

.fb{
    position: absolute;
    top: 100px;
    right: 40px;
    width: 28px;
    height: 27px;
    background: url('../../images/fb.png') #000;
}

.twt{
    width: 28px;
    height: 27px;
    background: url('../../images/twt.png');
}

#nav{
    height: 401px;
    width: 250px;
    float: left;
}

.nav-item{
    width: 238px;
    height: 53px;
    float: left;
    margin: 0 0 5px 9px;
    background: #fcfaf3;
}

.nav-first{
    background: url('../../images/consumer/nav-first.png') no-repeat;
}
.nav-second{
    background: url('../../images/consumer/nav-first.png') no-repeat;
}
.nav-third{
    background: url('../../images/consumer/nav-first.png') no-repeat;
}
.nav-fourth{
    background: url('../../images/consumer/nav-first.png') no-repeat;
}
.nav-fifth{
    background: url('../../images/consumer/nav-first.png') no-repeat;
}
.nav-sixth{
    background: url('../../images/consumer/nav-first.png') no-repeat;
}
.nav-seventh{
    background: url('../../images/consumer/nav-first.png') no-repeat;
}

#content{
    width: 710px;
    height: 401px;
    position: relative;
    float: left;
}

#lower-content{
    width: 960px;
    height: 300px;
}

.popup-tab{
    position: absolute;
    right: 0;
    height: 401px;
    width: 43px;
    top: 0px;
    background: url('../../images/consumer/popup-tab.jpg');
}

.popup-tab-contain{
    position: absolute;
    right: -43px;
    height: 401px;
    width: 43px;
    top: 0px;
    overflow: hidden;
}
#popup-contain{
    width: 710px;
    height: 401px;
    position: absolute;
    top: 0px;
    right: 0;
    background: none;
    z-index: 150;
    overflow: hidden;
}

#popup{
    width: 709px;
    height: 401px;
    position: absolute;
    right: -709px;
    top: 0;
}
.shine{
    width: 43px;
    height: 50px;
    position: absolute;
    top: -50px;
    left: 0;
    background: url('../../images/shine.png') no-repeat;
    z-index: 4;
}

.profile-tab{
    position: absolute;
    right: 0;
    height: 277px;
    width: 43px;
    top: 0px;
    background: url('../../images/consumer/profile-tab.png') no-repeat;
}

.profile-tab-contain{
    position: absolute;
    right: -43px;
    height: 277px;
    width: 43px;
    top: 560px;
    overflow: hidden;
}
#profile-contain{
    width: 634px;
    height: 278px;
    position: absolute;
    top: 560px;
    right: 0;
    background: none;
    z-index: 150;
    overflow: hidden;
    display: none;
}

#profile-popup{
    width: 634px;
    height: 278px;
    position: absolute;
    background: url('../../images/consumer/profile.jpg') no-repeat;
    right: 0px;
    top: 0;
}

#slide-contain{
    width: 698px;
    height: 401px;
    overflow: hidden;
    position: relative;
    float: left;
    margin-left: 3px;
}

.slider{
    position: absolute;
    left: 0px; /*test */
    width: 4000px;
}

.slides{
    width: 700px;
    height: 401px;
    float: left;
    position: absolute;
    top:0;
    left:0;
}

.ad-swap{
     width: 308px;
     height: 278px;
     margin: 9px 0 0 9px;
     float: left;
     position: relative;
     
}

.ad-swap img{
    opacity: 1;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.box-left{
    
}

.box-center{
    
}

.box-right{
    
}

.custom-logo-contain{
    width: 308px;
     height: 278px;
     margin: 9px 0 0 9px;
     float: left;
     position: relative;
     background: #333;
}

.custom-heading{
    
}

.custom-logo{
    
}

 .next-arrow{
     position: absolute;
     top: 370px;
     right: 10px;
     width: 28px;
     height: 62px;
     background: url('../../images/consumer/arrow-sprite.png') no-repeat;
     background-position: -28px 0;  
     z-index: 1;
     display: none;
 }
 
 .prev-arrow{
     position: absolute;
     top: 370px;
     left: 255px;
     width: 28px;
     height: 62px;
     background: url('../../images/consumer/arrow-sprite.png') no-repeat;
     background-position: 0 0;
     z-index: 1;
     display: none;
 }
 
#mlb{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 23px;
    background: #052e59;
    z-index: 200;
}

#mlb-content{
    width: 794px;
    height: 12px;
    margin: 6px auto 0;
    background: url('../../images/consumer/mlb.png') no-repeat;
}
