{% extends '::frontend.html.twig' %}

{% block video %}
    <video width="700" height="401" id="intro-vid" poster="{{ asset('images/consumer/slide2.jpg') }}"  preload="none">
    	<!-- MP4 source must come first for iOS -->
    	<source type="video/mp4" src="{{ asset('video/intro') }}.mp4" />
    	<!-- WebM for Firefox 4 and Opera -->
    	<source type="video/webm" src="{{ asset('video/intro') }}.webm" />
    	<!-- OGG for Firefox 3 -->
    	<source type="video/ogg" src="{{ asset('video/intro') }}.ogv" />
    	<!-- Fallback flash player for no-HTML5 browsers with JavaScript turned off -->
    	<object width="700" height="401" type="application/x-shockwave-flash" data="{{ asset('mejs/flashmediaelement.swf') }}"> 		
    		<param name="movie" value="{{ asset('mejs/flashmediaelement.swf') }}" /> 
    		<param name="flashvars" value="controls=true&amp;file={{ asset('video/intro') }}.mp4" /> 		
    		<!-- Image fall back for non-HTML5 browser with JavaScript turned off and no Flash player installed -->
    		<img src="{{ asset('images/intro-poster.jpg') }}" width="700" height="401" alt="Here we are" 
    			title="No video playback capabilities" />
    	</object> 	
    </video>
{% endblock %}